In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
pd.set_option("display.max_columns", 101)
pd.set_option("display.max_rows", 73)

In [3]:
team_df = pd.read_pickle('data/team_stats_scraped.pickle')
game_df = pd.read_pickle('data/games_scraped.pickle')

In [4]:
game_df.shape

(29399, 26)

In [5]:
mask = (game_df.team == 'chi') & (game_df.year == 2019)
game_df[mask]

,team,year,opp,week_num,game_day_of_week,game_date,game_outcome,team_record,game_location,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st
4819,chi,2019,gnb,1,Thu,September 5,L,0-1,NaN,3.0,10.0,16.0,254.0,208.0,46.0,1.0,13.0,213.0,166.0,47.0,NaN,8.0,NaN,-20.0,9.0,-2.0
4820,chi,2019,den,2,Sun,September 15,W,1-1,@,16.0,14.0,18.0,273.0,120.0,153.0,NaN,27.0,372.0,282.0,90.0,1.0,4.0,NaN,4.0,-4.0,5.0
4821,chi,2019,was,3,Mon,September 23,W,2-1,@,31.0,15.0,21.0,298.0,208.0,90.0,1.0,25.0,356.0,287.0,69.0,5.0,8.0,NaN,9.0,11.0,-3.0
4822,chi,2019,min,4,Sun,September 29,W,3-1,NaN,16.0,6.0,17.0,269.0,197.0,72.0,NaN,15.0,222.0,182.0,40.0,2.0,4.0,NaN,-2.0,10.0,1.0
4823,chi,2019,rai,5,Sun,October 6,L,3-2,@,21.0,24.0,15.0,236.0,194.0,42.0,2.0,25.0,398.0,229.0,169.0,2.0,1.0,NaN,-3.0,-2.0,-0.0
4824,chi,2019,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4825,chi,2019,nor,7,Sun,October 20,L,3-3,NaN,25.0,36.0,16.0,252.0,235.0,17.0,2.0,24.0,424.0,273.0,151.0,NaN,4.0,NaN,-12.0,-13.0,10.0
4826,chi,2019,sdg,8,Sun,October 27,L,3-4,NaN,16.0,17.0,26.0,388.0,226.0,162.0,2.0,11.0,231.0,195.0,36.0,1.0,1.0,NaN,0.0,5.0,-6.0
4827,chi,2019,phi,9,Sun,November 3,L,3-5,@,14.0,22.0,10.0,164.0,102.0,62.0,1.0,26.0,373.0,227.0,146.0,NaN,1.0,NaN,-4.0,-10.0,2.0
4828,chi,2019,det,10,Sun,November 10,W,4-5,NaN,20.0,13.0,13.0,226.0,145.0,81.0,NaN,21.0,357.0,259.0,98.0,1.0,1.0,NaN,-0.0,6.0,-2.0
4829,chi,2019,ram,11,Sun,November 17,L,4-6,@,7.0,17.0,17.0,267.0,193.0,74.0,1.0,13.0,283.0,173.0,110.0,2.0,8.0,NaN,-13.0,5.0,-5.0
4830,chi,2019,nyg,12,Sun,November 24,W,5-6,NaN,19.0,14.0,20.0,335.0,270.0,65.0,2.0,14.0,243.0,134.0,109.0,1.0,1.0,NaN,-7.0,12.0,-2.0
4831,chi,2019,det,13,Thu,November 28,W,6-6,@,24.0,20.0,22.0,419.0,331.0,88.0,1.0,19.0,364.0,259.0,105.0,1.0,12.0,NaN,8.0,-6.0,0.0
4832,chi,2019,dal,14,Thu,December 5,W,7-6,NaN,31.0,24.0,24.0,382.0,231.0,151.0,2.0,22.0,408.0,326.0,82.0,NaN,8.0,NaN,10.0,-10.0,8.0
4833,chi,2019,gnb,15,Sun,December 15,L,7-7,@,13.0,21.0,20.0,415.0,319.0,96.0,3.0,12.0,292.0,192.0,100.0,NaN,1.0,NaN,-4.0,2.0,-1.0
4834,chi,2019,kan,16,Sun,December 22,L,7-8,NaN,3.0,26.0,18.0,234.0,133.0,101.0,NaN,25.0,350.0,244.0,106.0,NaN,8.0,NaN,-6.0,-14.0,-1.0
4835,chi,2019,min,17,Sun,December 29,W,8-8,@,21.0,19.0,24.0,337.0,179.0,158.0,1.0,14.0,300.0,126.0,174.0,3.0,1.0,NaN,1.0,-2.0,-1.0

In [6]:
# clean the game_location column & apply change. def home_game(row):
def home_game(row):    
    if row == '@':
        return 1
    return 0

game_df['home'] = game_df.game_location.apply(home_game)
game_df.drop("game_location", axis=1, errors='ignore', inplace=True)

In [7]:
game_df[mask]

,team,year,opp,week_num,game_day_of_week,game_date,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home
4819,chi,2019,gnb,1,Thu,September 5,L,0-1,3.0,10.0,16.0,254.0,208.0,46.0,1.0,13.0,213.0,166.0,47.0,NaN,8.0,NaN,-20.0,9.0,-2.0,0
4820,chi,2019,den,2,Sun,September 15,W,1-1,16.0,14.0,18.0,273.0,120.0,153.0,NaN,27.0,372.0,282.0,90.0,1.0,4.0,NaN,4.0,-4.0,5.0,1
4821,chi,2019,was,3,Mon,September 23,W,2-1,31.0,15.0,21.0,298.0,208.0,90.0,1.0,25.0,356.0,287.0,69.0,5.0,8.0,NaN,9.0,11.0,-3.0,1
4822,chi,2019,min,4,Sun,September 29,W,3-1,16.0,6.0,17.0,269.0,197.0,72.0,NaN,15.0,222.0,182.0,40.0,2.0,4.0,NaN,-2.0,10.0,1.0,0
4823,chi,2019,rai,5,Sun,October 6,L,3-2,21.0,24.0,15.0,236.0,194.0,42.0,2.0,25.0,398.0,229.0,169.0,2.0,1.0,NaN,-3.0,-2.0,-0.0,1
4824,chi,2019,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4825,chi,2019,nor,7,Sun,October 20,L,3-3,25.0,36.0,16.0,252.0,235.0,17.0,2.0,24.0,424.0,273.0,151.0,NaN,4.0,NaN,-12.0,-13.0,10.0,0
4826,chi,2019,sdg,8,Sun,October 27,L,3-4,16.0,17.0,26.0,388.0,226.0,162.0,2.0,11.0,231.0,195.0,36.0,1.0,1.0,NaN,0.0,5.0,-6.0,0
4827,chi,2019,phi,9,Sun,November 3,L,3-5,14.0,22.0,10.0,164.0,102.0,62.0,1.0,26.0,373.0,227.0,146.0,NaN,1.0,NaN,-4.0,-10.0,2.0,1
4828,chi,2019,det,10,Sun,November 10,W,4-5,20.0,13.0,13.0,226.0,145.0,81.0,NaN,21.0,357.0,259.0,98.0,1.0,1.0,NaN,-0.0,6.0,-2.0,0
4829,chi,2019,ram,11,Sun,November 17,L,4-6,7.0,17.0,17.0,267.0,193.0,74.0,1.0,13.0,283.0,173.0,110.0,2.0,8.0,NaN,-13.0,5.0,-5.0,1
4830,chi,2019,nyg,12,Sun,November 24,W,5-6,19.0,14.0,20.0,335.0,270.0,65.0,2.0,14.0,243.0,134.0,109.0,1.0,1.0,NaN,-7.0,12.0,-2.0,0
4831,chi,2019,det,13,Thu,November 28,W,6-6,24.0,20.0,22.0,419.0,331.0,88.0,1.0,19.0,364.0,259.0,105.0,1.0,12.0,NaN,8.0,-6.0,0.0,1
4832,chi,2019,dal,14,Thu,December 5,W,7-6,31.0,24.0,24.0,382.0,231.0,151.0,2.0,22.0,408.0,326.0,82.0,NaN,8.0,NaN,10.0,-10.0,8.0,0
4833,chi,2019,gnb,15,Sun,December 15,L,7-7,13.0,21.0,20.0,415.0,319.0,96.0,3.0,12.0,292.0,192.0,100.0,NaN,1.0,NaN,-4.0,2.0,-1.0,1
4834,chi,2019,kan,16,Sun,December 22,L,7-8,3.0,26.0,18.0,234.0,133.0,101.0,NaN,25.0,350.0,244.0,106.0,NaN,8.0,NaN,-6.0,-14.0,-1.0,0
4835,chi,2019,min,17,Sun,December 29,W,8-8,21.0,19.0,24.0,337.0,179.0,158.0,1.0,14.0,300.0,126.0,174.0,3.0,1.0,NaN,1.0,-2.0,-1.0,1

In [8]:
# add team_year identifier to each row (to easily groupby team/year)

team_years = game_df['team'] + '-' +  game_df['year'].astype(str) 
game_df.insert(loc=2, column='team_year', value=team_years)
game_df.sample()

,team,year,team_year,opp,week_num,game_day_of_week,game_date,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home
12369,jax,2005,jax-2005,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

Datetime formatting strings:

- ``%B`` month fullname
- ``%-d`` day of month without leading zero\*
    - \*note: the ``-`` only works on Linux/OS-X...for windows replace with '#'
- ``%Y`` full year

In [9]:
# convert game date to datetime & add new column to DF
f = r"%B %d-%Y"
full_game_date = game_df.game_date + '-' + game_df.year.astype(str)
full_game_date = pd.to_datetime(full_game_date, format=f)
game_df.insert(loc=2, column='date', value=full_game_date)
game_df.sample(3)

,team,year,date,team_year,opp,week_num,game_day_of_week,game_date,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home
21876,pit,1974,1974-12-14,pit-1974,cin,14,Sat,December 14,W,10-3-1,27.0,3.0,21.0,354.0,183.0,171.0,2.0,11.0,193.0,23.0,170.0,2.0,1.0,NaN,NaN,NaN,NaN,0
18101,nyg,1993,1993-10-03,nyg-1993,buf,5,Sun,October 3,L,3-1,14.0,17.0,19.0,299.0,153.0,146.0,4.0,17.0,251.0,112.0,139.0,2.0,8.0,NaN,NaN,NaN,NaN,1
18905,nyj,1980,1980-12-07,nyj-1980,cle,14,Sun,December 7,L,3-11,14.0,17.0,17.0,298.0,205.0,93.0,2.0,27.0,398.0,319.0,79.0,1.0,1.0,NaN,NaN,NaN,NaN,1

In [10]:
# now drop the game_date col
game_df.drop("game_date", axis=1, inplace=True, errors='ignore')
game_df.sample(2) # to confirm

,team,year,date,team_year,opp,week_num,game_day_of_week,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home
4630,chi,2008,2008-09-28,chi-2008,phi,4,Sun,W,2-2,24.0,20.0,13.0,256.0,178.0,78.0,4.0,18.0,340.0,237.0,103.0,2.0,8.0,NaN,-19.0,9.0,12.0,0
6646,cle,2018,2018-11-25,cle-2018,cin,12,Sun,W,4-6-1,35.0,20.0,24.0,342.0,258.0,84.0,NaN,25.0,372.0,243.0,129.0,2.0,1.0,NaN,18.0,-2.0,0.0,1

In [11]:
# now we need to add a week_num column (using shift)
mask = game_df.team_year == 'chi-2019'
game_df[mask].head()

,team,year,date,team_year,opp,week_num,game_day_of_week,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home
4819,chi,2019,2019-09-05,chi-2019,gnb,1,Thu,L,0-1,3.0,10.0,16.0,254.0,208.0,46.0,1.0,13.0,213.0,166.0,47.0,NaN,8.0,NaN,-20.0,9.0,-2.0,0
4820,chi,2019,2019-09-15,chi-2019,den,2,Sun,W,1-1,16.0,14.0,18.0,273.0,120.0,153.0,NaN,27.0,372.0,282.0,90.0,1.0,4.0,NaN,4.0,-4.0,5.0,1
4821,chi,2019,2019-09-23,chi-2019,was,3,Mon,W,2-1,31.0,15.0,21.0,298.0,208.0,90.0,1.0,25.0,356.0,287.0,69.0,5.0,8.0,NaN,9.0,11.0,-3.0,1
4822,chi,2019,2019-09-29,chi-2019,min,4,Sun,W,3-1,16.0,6.0,17.0,269.0,197.0,72.0,NaN,15.0,222.0,182.0,40.0,2.0,4.0,NaN,-2.0,10.0,1.0,0
4823,chi,2019,2019-10-06,chi-2019,rai,5,Sun,L,3-2,21.0,24.0,15.0,236.0,194.0,42.0,2.0,25.0,398.0,229.0,169.0,2.0,1.0,NaN,-3.0,-2.0,-0.0,1

In [12]:
# convert game_outcome col to binary to avoid multicolinearity

game_df[['result_tie', 'result_win']] = pd.get_dummies(game_df.game_outcome, drop_first=True)
game_df.sample(10)

,team,year,date,team_year,opp,week_num,game_day_of_week,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home,result_tie,result_win
21526,phi,2013,2013-11-10,phi-2013,gnb,10,Sun,W,5-5,27.0,13.0,19.0,415.0,211.0,204.0,1.0,23.0,396.0,297.0,99.0,2.0,1.0,NaN,14.0,0.0,-0.0,1,0,1
9399,det,2000,2000-09-03,det-2000,nor,1,Sun,W,1-0,14.0,10.0,10.0,187.0,89.0,98.0,2.0,13.0,252.0,146.0,106.0,3.0,1.0,NaN,-28.0,22.0,6.0,1,0,1
28608,was,1975,1975-11-16,was-1975,crd,9,Sun,L,6-3,17.0,20.0,16.0,397.0,252.0,145.0,5.0,31.0,427.0,197.0,230.0,4.0,4.0,OT,NaN,NaN,NaN,1,0,0
17563,nor,2019,2019-12-22,nor-2019,oti,16,Sun,W,12-3,38.0,28.0,23.0,377.0,275.0,102.0,NaN,17.0,397.0,248.0,149.0,1.0,1.0,NaN,13.0,-4.0,2.0,1,0,1
7512,dal,2007,2007-12-30,dal-2007,was,17,Sun,L,13-3,6.0,27.0,7.0,147.0,146.0,1.0,1.0,22.0,354.0,223.0,131.0,2.0,4.0,NaN,-22.0,-4.0,7.0,1,0,0
16972,nor,1986,1986-11-30,nor-1986,nwe,13,Sun,L,6-7,20.0,21.0,25.0,425.0,247.0,178.0,5.0,14.0,231.0,229.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,0,0,0
7552,dal,2010,2010-09-12,dal-2010,was,1,Sun,L,0-1,7.0,13.0,24.0,380.0,277.0,103.0,1.0,17.0,250.0,161.0,89.0,NaN,8.0,NaN,-1.0,9.0,-10.0,1,0,0
6103,cle,1984,1984-10-07,cle-1984,nwe,6,Sun,L,1-5,16.0,17.0,23.0,349.0,305.0,44.0,2.0,14.0,254.0,145.0,109.0,NaN,1.0,NaN,NaN,NaN,NaN,0,0,0
13576,kan,2016,2016-11-20,kan-2016,tam,11,Sun,L,7-3,17.0,19.0,19.0,343.0,261.0,82.0,2.0,27.0,442.0,326.0,116.0,1.0,1.0,NaN,9.0,-12.0,1.0,0,0,0
7069,dal,1983,1983-10-23,dal-1983,rai,8,Sun,L,7-1,38.0,40.0,17.0,319.0,238.0,81.0,3.0,31.0,519.0,300.0,219.0,6.0,9.0,NaN,NaN,NaN,NaN,0,0,0

In [13]:
mask = game_df.game_outcome == "T"
game_df[mask].head()

,team,year,date,team_year,opp,week_num,game_day_of_week,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home,result_tie,result_win
9,crd,1960,1960-11-27,crd-1960,cle,10,Sun,T,5-4-1,17.0,17.0,21.0,322.0,127.0,195.0,6.0,17.0,274.0,88.0,186.0,2.0,NaN,NaN,NaN,NaN,NaN,0,1,0
30,crd,1962,1962-10-14,crd-1962,was,5,Sun,T,1-3-1,17.0,17.0,16.0,309.0,251.0,58.0,2.0,15.0,321.0,259.0,62.0,1.0,NaN,NaN,NaN,NaN,NaN,0,1,0
55,crd,1964,1964-09-20,crd-1964,cle,2,Sun,T,1-0-1,33.0,33.0,17.0,344.0,230.0,114.0,3.0,18.0,281.0,166.0,115.0,3.0,NaN,NaN,NaN,NaN,NaN,1,1,0
63,crd,1964,1964-11-15,crd-1964,nyg,10,Sun,T,5-3-2,10.0,10.0,12.0,143.0,105.0,38.0,3.0,12.0,212.0,131.0,81.0,3.0,NaN,NaN,NaN,NaN,NaN,0,1,0
87,crd,1966,1966-10-16,crd-1966,dal,6,Sun,T,5-0-1,10.0,10.0,13.0,175.0,130.0,45.0,NaN,17.0,326.0,191.0,135.0,4.0,NaN,NaN,NaN,NaN,NaN,0,1,0

In [14]:
import re

game_df = (game_df.assign(wins=game_df.team_record.str.split('-').str.get(0),
                          losses=game_df.team_record.str.split('-').str.get(1),
                          ties=game_df.team_record.str.split('-').str.get(2)))

mask = game_df.result_tie == 1
game_df[mask].head()

,team,year,date,team_year,opp,week_num,game_day_of_week,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home,result_tie,result_win,wins,losses,ties
9,crd,1960,1960-11-27,crd-1960,cle,10,Sun,T,5-4-1,17.0,17.0,21.0,322.0,127.0,195.0,6.0,17.0,274.0,88.0,186.0,2.0,NaN,NaN,NaN,NaN,NaN,0,1,0,5,4,1
30,crd,1962,1962-10-14,crd-1962,was,5,Sun,T,1-3-1,17.0,17.0,16.0,309.0,251.0,58.0,2.0,15.0,321.0,259.0,62.0,1.0,NaN,NaN,NaN,NaN,NaN,0,1,0,1,3,1
55,crd,1964,1964-09-20,crd-1964,cle,2,Sun,T,1-0-1,33.0,33.0,17.0,344.0,230.0,114.0,3.0,18.0,281.0,166.0,115.0,3.0,NaN,NaN,NaN,NaN,NaN,1,1,0,1,0,1
63,crd,1964,1964-11-15,crd-1964,nyg,10,Sun,T,5-3-2,10.0,10.0,12.0,143.0,105.0,38.0,3.0,12.0,212.0,131.0,81.0,3.0,NaN,NaN,NaN,NaN,NaN,0,1,0,5,3,2
87,crd,1966,1966-10-16,crd-1966,dal,6,Sun,T,5-0-1,10.0,10.0,13.0,175.0,130.0,45.0,NaN,17.0,326.0,191.0,135.0,4.0,NaN,NaN,NaN,NaN,NaN,0,1,0,5,0,1

Okay, almost there. Our ties are coming through, but we get NaNs for teams that haven't tied, so we'll need to replace those with zeros.

In [15]:
# fill ties NaNs with zero
game_df['ties'] = game_df.ties.fillna(0)

In [16]:
mask = game_df.team_year == 'chi-1960'
game_df[mask].head(20)

,team,year,date,team_year,opp,week_num,game_day_of_week,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home,result_tie,result_win,wins,losses,ties
3850,chi,1960,1960-09-25,chi-1960,gnb,1,Sun,W,1-0,17.0,14.0,19.0,306.0,151.0,155.0,4.0,15.0,230.0,77.0,153.0,3.0,NaN,NaN,NaN,NaN,NaN,1,0,1,1,0,0
3851,chi,1960,1960-10-02,chi-1960,clt,2,Sun,L,1-1,7.0,42.0,20.0,318.0,158.0,160.0,8.0,17.0,375.0,290.0,85.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,1,1,0
3852,chi,1960,1960-10-09,chi-1960,ram,3,Sun,W,2-1,34.0,27.0,21.0,457.0,312.0,145.0,3.0,16.0,102.0,19.0,83.0,2.0,NaN,NaN,NaN,NaN,NaN,0,0,1,2,1,0
3853,chi,1960,1960-10-16,chi-1960,sfo,4,Sun,W,3-1,27.0,10.0,6.0,231.0,81.0,150.0,NaN,23.0,298.0,69.0,229.0,2.0,NaN,NaN,NaN,NaN,NaN,0,0,1,3,1,0
3854,chi,1960,1960-10-23,chi-1960,ram,5,Sun,T,3-1-1,24.0,24.0,20.0,337.0,252.0,85.0,2.0,13.0,220.0,84.0,136.0,1.0,NaN,NaN,NaN,NaN,NaN,1,1,0,3,1,1
3855,chi,1960,1960-10-30,chi-1960,sfo,6,Sun,L,3-2-1,7.0,25.0,14.0,255.0,83.0,172.0,2.0,18.0,320.0,96.0,224.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,3,2,1
3856,chi,1960,1960-11-13,chi-1960,clt,8,Sun,L,3-3-1,20.0,24.0,17.0,292.0,133.0,159.0,5.0,18.0,298.0,222.0,76.0,4.0,NaN,NaN,NaN,NaN,NaN,0,0,0,3,3,1
3857,chi,1960,1960-11-20,chi-1960,det,9,Sun,W,4-3-1,28.0,7.0,12.0,333.0,204.0,129.0,2.0,11.0,147.0,14.0,133.0,2.0,NaN,NaN,NaN,NaN,NaN,0,0,1,4,3,1
3858,chi,1960,1960-11-27,chi-1960,dal,10,Sun,W,5-3-1,17.0,7.0,16.0,279.0,58.0,221.0,3.0,12.0,218.0,174.0,44.0,2.0,NaN,NaN,NaN,NaN,NaN,0,0,1,5,3,1
3859,chi,1960,1960-12-04,chi-1960,gnb,11,Sun,L,5-4-1,13.0,41.0,15.0,321.0,239.0,82.0,3.0,28.0,443.0,218.0,225.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,5,4,1
3860,chi,1960,1960-12-11,chi-1960,cle,12,Sun,L,5-5-1,0.0,42.0,12.0,193.0,90.0,103.0,8.0,15.0,215.0,84.0,131.0,1.0,NaN,NaN,NaN,NaN,NaN,1,0,0,5,5,1
3861,chi,1960,1960-12-18,chi-1960,det,13,Sun,L,5-6-1,0.0,36.0,11.0,143.0,65.0,78.0,2.0,16.0,201.0,41.0,160.0,2.0,NaN,NaN,NaN,NaN,NaN,1,0,0,5,6,1

In [17]:
# add 'margin' col
margins = game_df.pts_off - game_df.pts_def
game_df.insert(loc=11, column='margin', value=margins)
game_df[mask]

,team,year,date,team_year,opp,week_num,game_day_of_week,game_outcome,team_record,pts_off,pts_def,margin,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home,result_tie,result_win,wins,losses,ties
3850,chi,1960,1960-09-25,chi-1960,gnb,1,Sun,W,1-0,17.0,14.0,3.0,19.0,306.0,151.0,155.0,4.0,15.0,230.0,77.0,153.0,3.0,NaN,NaN,NaN,NaN,NaN,1,0,1,1,0,0
3851,chi,1960,1960-10-02,chi-1960,clt,2,Sun,L,1-1,7.0,42.0,-35.0,20.0,318.0,158.0,160.0,8.0,17.0,375.0,290.0,85.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,1,1,0
3852,chi,1960,1960-10-09,chi-1960,ram,3,Sun,W,2-1,34.0,27.0,7.0,21.0,457.0,312.0,145.0,3.0,16.0,102.0,19.0,83.0,2.0,NaN,NaN,NaN,NaN,NaN,0,0,1,2,1,0
3853,chi,1960,1960-10-16,chi-1960,sfo,4,Sun,W,3-1,27.0,10.0,17.0,6.0,231.0,81.0,150.0,NaN,23.0,298.0,69.0,229.0,2.0,NaN,NaN,NaN,NaN,NaN,0,0,1,3,1,0
3854,chi,1960,1960-10-23,chi-1960,ram,5,Sun,T,3-1-1,24.0,24.0,0.0,20.0,337.0,252.0,85.0,2.0,13.0,220.0,84.0,136.0,1.0,NaN,NaN,NaN,NaN,NaN,1,1,0,3,1,1
3855,chi,1960,1960-10-30,chi-1960,sfo,6,Sun,L,3-2-1,7.0,25.0,-18.0,14.0,255.0,83.0,172.0,2.0,18.0,320.0,96.0,224.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,3,2,1
3856,chi,1960,1960-11-13,chi-1960,clt,8,Sun,L,3-3-1,20.0,24.0,-4.0,17.0,292.0,133.0,159.0,5.0,18.0,298.0,222.0,76.0,4.0,NaN,NaN,NaN,NaN,NaN,0,0,0,3,3,1
3857,chi,1960,1960-11-20,chi-1960,det,9,Sun,W,4-3-1,28.0,7.0,21.0,12.0,333.0,204.0,129.0,2.0,11.0,147.0,14.0,133.0,2.0,NaN,NaN,NaN,NaN,NaN,0,0,1,4,3,1
3858,chi,1960,1960-11-27,chi-1960,dal,10,Sun,W,5-3-1,17.0,7.0,10.0,16.0,279.0,58.0,221.0,3.0,12.0,218.0,174.0,44.0,2.0,NaN,NaN,NaN,NaN,NaN,0,0,1,5,3,1
3859,chi,1960,1960-12-04,chi-1960,gnb,11,Sun,L,5-4-1,13.0,41.0,-28.0,15.0,321.0,239.0,82.0,3.0,28.0,443.0,218.0,225.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,5,4,1
3860,chi,1960,1960-12-11,chi-1960,cle,12,Sun,L,5-5-1,0.0,42.0,-42.0,12.0,193.0,90.0,103.0,8.0,15.0,215.0,84.0,131.0,1.0,NaN,NaN,NaN,NaN,NaN,1,0,0,5,5,1
3861,chi,1960,1960-12-18,chi-1960,det,13,Sun,L,5-6-1,0.0,36.0,-36.0,11.0,143.0,65.0,78.0,2.0,16.0,201.0,41.0,160.0,2.0,NaN,NaN,NaN,NaN,NaN,1,0,0,5,6,1

In [18]:
game_df.columns

Index(['team', 'year', 'date', 'team_year', 'opp', 'week_num',
       'game_day_of_week', 'game_outcome', 'team_record', 'pts_off', 'pts_def',
       'margin', 'first_down_off', 'yards_off', 'pass_yds_off', 'rush_yds_off',
       'to_off', 'first_down_def', 'yards_def', 'pass_yds_def', 'rush_yds_def',
       'to_def', 'game_time', 'overtime', 'exp_pts_off', 'exp_pts_def',
       'exp_pts_st', 'home', 'result_tie', 'result_win', 'wins', 'losses',
       'ties'],
      dtype='object')

In [19]:
# add 'prev_week' cols

old_cols = ['date', 'opp', 'margin', 'yards_off', 'yards_def']
new_cols = ['prev_date', 'prev_opp', 'prev_margin', 'prev_yards_off', 'prev_yards_def']

game_df[new_cols] = game_df.groupby('team_year')[old_cols].apply(lambda grp: grp.shift(1))

In [20]:
game_df.tail(20)

,team,year,date,team_year,opp,week_num,game_day_of_week,game_outcome,team_record,pts_off,pts_def,margin,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home,result_tie,result_win,wins,losses,ties,prev_date,prev_opp,prev_margin,prev_yards_off,prev_yards_def
29379,was,2019,2019-12-29,was-2019,dal,17,Sun,L,3-13,16.0,47.0,-31.0,13.0,271.0,183.0,88.0,2.0,22.0,517.0,294.0,223.0,1.0,4.0,NaN,-18.0,-17.0,5.0,1,0,0,3,13,0,2019-12-22,nyg,-6.0,361.0,552.0
29380,was,2020,2020-09-13,was-2020,phi,1,Sun,W,1-0,27.0,17.0,10.0,18.0,239.0,159.0,80.0,NaN,19.0,265.0,208.0,57.0,3.0,1.0,NaN,-6.0,16.0,-1.0,0,0,1,1,0,0,NaT,NaN,NaN,NaN,NaN
29381,was,2020,2020-09-20,was-2020,crd,2,Sun,L,1-1,15.0,30.0,-15.0,19.0,316.0,199.0,117.0,2.0,22.0,438.0,278.0,160.0,1.0,4.0,NaN,-0.0,-8.0,-6.0,1,0,0,1,1,0,2020-09-13,phi,10.0,239.0,265.0
29382,was,2020,2020-09-27,was-2020,cle,3,Sun,L,1-2,20.0,34.0,-14.0,19.0,309.0,206.0,103.0,5.0,19.0,300.0,142.0,158.0,NaN,1.0,NaN,-4.0,-8.0,-1.0,1,0,0,1,2,0,2020-09-20,crd,-15.0,316.0,438.0
29383,was,2020,2020-10-04,was-2020,rav,4,Sun,L,1-3,17.0,31.0,-14.0,24.0,343.0,274.0,69.0,1.0,18.0,350.0,206.0,144.0,2.0,1.0,NaN,2.0,-8.0,-9.0,0,0,0,1,3,0,2020-09-27,cle,-14.0,309.0,300.0
29384,was,2020,2020-10-11,was-2020,ram,5,Sun,L,1-4,10.0,30.0,-20.0,10.0,108.0,70.0,38.0,NaN,20.0,429.0,300.0,129.0,1.0,1.0,NaN,-15.0,-12.0,9.0,0,0,0,1,4,0,2020-10-04,rav,-14.0,343.0,350.0
29385,was,2020,2020-10-18,was-2020,nyg,6,Sun,L,1-5,19.0,20.0,-1.0,24.0,337.0,251.0,86.0,2.0,16.0,240.0,108.0,132.0,1.0,1.0,NaN,1.0,-4.0,-2.0,1,0,0,1,5,0,2020-10-11,ram,-20.0,108.0,429.0
29386,was,2020,2020-10-25,was-2020,dal,7,Sun,W,2-5,25.0,3.0,22.0,21.0,397.0,189.0,208.0,NaN,12.0,142.0,59.0,83.0,1.0,1.0,NaN,15.0,14.0,-10.0,0,0,1,2,5,0,2020-10-18,nyg,-1.0,337.0,240.0
29387,was,2020,NaT,was-2020,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN,0,2020-10-25,dal,22.0,397.0,142.0
29388,was,2020,2020-11-08,was-2020,nyg,9,Sun,L,2-6,20.0,23.0,-3.0,19.0,402.0,365.0,37.0,5.0,22.0,350.0,184.0,166.0,NaN,1.0,NaN,2.0,-1.0,-4.0,0,0,0,2,6,0,NaT,NaN,NaN,NaN,NaN
29389,was,2020,2020-11-15,was-2020,det,10,Sun,L,2-7,27.0,30.0,-3.0,34.0,464.0,375.0,89.0,1.0,21.0,372.0,267.0,105.0,NaN,1.0,NaN,19.0,-15.0,-6.0,1,0,0,2,7,0,2020-11-08,nyg,-3.0,402.0,350.0
29390,was,2020,2020-11-22,was-2020,cin,11,Sun,W,3-7,20.0,9.0,11.0,20.0,325.0,161.0,164.0,1.0,18.0,272.0,202.0,70.0,2.0,1.0,NaN,-0.0,11.0,-0.0,0,0,1,3,7,0,2020-11-15,det,-3.0,464.0,372.0
29391,was,2020,2020-11-26,was-2020,dal,12,Thu,W,4-7,41.0,16.0,25.0,22.0,338.0,156.0,182.0,1.0,13.0,247.0,187.0,60.0,2.0,4.0,NaN,8.0,17.0,1.0,1,0,1,4,7,0,2020-11-22,cin,11.0,325.0,272.0
29392,was,2020,2020-12-07,was-2020,pit,13,Mon,W,5-7,23.0,17.0,6.0,18.0,318.0,273.0,45.0,NaN,17.0,326.0,305.0,21.0,1.0,5.0,NaN,-7.0,5.0,3.0,1,0,1,5,7,0,2020-11-26,dal,25.0,338.0,247.0
29393,was,2020,2020-12-13,was-2020,sfo,14,Sun,W,6-7,23.0,15.0,8.0,12.0,193.0,95.0,98.0,1.0,21.0,344.0,236.0,108.0,3.0,4.0,NaN,-19.0,25.0,0.0,1,0,1,6,7,0,2020-12-07,pit,6.0,318.0,326.0
29394,was,2020,2020-12-20,was-2020,sea,15,Sun,L,6-8,15.0,20.0,-5.0,26.0,353.0,269.0,84.0,2.0,16.0,302.0,121.0,181.0,1.0,1.0,NaN,1.0,-3.0,-4.0,0,0,0,6,8,0,2020-12-13,sfo,8.0,193.0,344.0
29395,was,2020,2020-12-27,was-2020,car,16,Sun,L,6-9,13.0,20.0,-7.0,20.0,386.0,278.0,108.0,4.0,19.0,280.0,167.0,113.0,2.0,4.0,NaN,-5.0,5.0,-7.0,0,0,0,6,9,0,2020-12-20,sea,-5.0,353.0,302.0
29396,was,2020,2020-01-03,was-2020,phi,17,Sun,W,7-9,20.0,14.0,6.0,16.0,248.0,145.0,103.0,2.0,16.0,216.0,98.0,118.0,3.0,8.0,NaN,-8.0,11.0,3.0,1,0,1,7,9,0,2020-12-27,car,-7.0,386.0,280.0
29397,was,2020,NaT,was-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN,0,2020-01-03,phi,6.0,248.0,216.0
29398,was,2020,2020-01-09,was-2020,tam,Wild Card,Sat,L,7-10,23.0,31.0,-8.0,23.0,375.0,289.0,86.0,1.0,26.0,507.0,365.0,142.0,1.0,8.0,NaN,5.0,-14.0,1.0,0,0,0,7,10,0,NaT,NaN,NaN,NaN,NaN

In [21]:
# drop rows for bye weeks
game_df.dropna(axis=0, how='any', subset=['game_outcome'], inplace=True)

In [22]:
# create rolling three feature for these stats:
# using margin instead of wins here... if we want to get num wins in last three weeks,
#  will need to do differently using sum instead of mean

roll_cols = ['pts_off', 'pts_def', 'margin', 'first_down_off', 'yards_off',
             'pass_yds_off', 'rush_yds_off', 'to_off', 'yards_def', 'pass_yds_def',
             'rush_yds_def', 'to_def', 'exp_pts_off', 'exp_pts_def', 'exp_pts_st']

In [23]:
new_rolls = ['roll3_' + col_name for col_name in roll_cols]

game_df[new_rolls] = (game_df.groupby('team_year')[roll_cols]
                      .transform(lambda x: round(x.shift(1).rolling(3).mean(), 3)))

In [24]:
# get rolling wins (sum)

rolling_wins = (game_df.groupby('team_year')['result_win']
                      .transform(lambda x: round(x.shift(1).rolling(3).sum(), 3)))

game_df.insert(loc=38, column='roll3_wins', value=rolling_wins)

In [25]:
mask = game_df.team_year == 'chi-2019'
game_df[mask][['pass_yds_off', 'roll3_pass_yds_off']]

      pass_yds_off  roll3_pass_yds_off
4819         208.0                 NaN
4820         120.0                 NaN
4821         208.0                 NaN
4822         197.0             178.667
4823         194.0             175.000
4825         235.0             199.667
4826         226.0             208.667
4827         102.0             218.333
4828         145.0             187.667
4829         193.0             157.667
4830         270.0             146.667
4831         331.0             202.667
4832         231.0             264.667
4833         319.0             277.333
4834         133.0             293.667
4835         179.0             227.667

In [26]:
np.mean([208, 120, 208])

178.66666666666666

In [27]:
# add ewma cols

ewma_cols = ['ewma_' + col_name for col_name in roll_cols]

game_df[ewma_cols] = (game_df.groupby('team_year')[roll_cols]
                      .transform(lambda x: round(x.shift(1).ewm(span=3).mean(), 3)))

In [28]:
game_df[mask][['team', 'pass_yds_off', 'ewma_pass_yds_off', 'roll3_pass_yds_off']].head(18)

     team  pass_yds_off  ewma_pass_yds_off  roll3_pass_yds_off
4819  chi         208.0                NaN                 NaN
4820  chi         120.0            208.000                 NaN
4821  chi         208.0            149.333                 NaN
4822  chi         197.0            182.857             178.667
4823  chi         194.0            190.400             175.000
4825  chi         235.0            192.258             199.667
4826  chi         226.0            213.968             208.667
4827  chi         102.0            220.031             218.333
4828  chi         145.0            160.784             187.667
4829  chi         193.0            152.877             157.667
4830  chi         270.0            172.958             146.667
4831  chi         331.0            221.503             202.667
4832  chi         231.0            276.265             264.667
4833  chi         319.0            253.630             277.333
4834  chi         133.0            286.317             293.667
4835  chi         179.0            209.656             227.667

Looks good!!

In [29]:
game_df.head(20)

,team,year,date,team_year,opp,week_num,game_day_of_week,game_outcome,team_record,pts_off,pts_def,margin,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home,result_tie,result_win,wins,losses,ties,prev_date,prev_opp,prev_margin,prev_yards_off,prev_yards_def,roll3_wins,roll3_pts_off,roll3_pts_def,roll3_margin,roll3_first_down_off,roll3_yards_off,roll3_pass_yds_off,roll3_rush_yds_off,roll3_to_off,roll3_yards_def,roll3_pass_yds_def,roll3_rush_yds_def,roll3_to_def,roll3_exp_pts_off,roll3_exp_pts_def,roll3_exp_pts_st,ewma_pts_off,ewma_pts_def,ewma_margin,ewma_first_down_off,ewma_yards_off,ewma_pass_yds_off,ewma_rush_yds_off,ewma_to_off,ewma_yards_def,ewma_pass_yds_def,ewma_rush_yds_def,ewma_to_def,ewma_exp_pts_off,ewma_exp_pts_def,ewma_exp_pts_st
0,crd,1960,1960-09-23,crd-1960,ram,1,Fri,W,1-0,43.0,21.0,22.0,20.0,430.0,281.0,149.0,5.0,16.0,238.0,188.0,50.0,6.0,NaN,NaN,NaN,NaN,NaN,1,0,1,1,0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,crd,1960,1960-10-02,crd-1960,nyg,2,Sun,L,1-1,14.0,35.0,-21.0,11.0,222.0,115.0,107.0,5.0,18.0,405.0,268.0,137.0,6.0,NaN,NaN,NaN,NaN,NaN,0,0,0,1,1,0,1960-09-23,ram,22.0,430.0,238.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.000,21.000,22.000,20.000,430.000,281.000,149.000,5.000,238.000,188.000,50.000,6.000,NaN,NaN,NaN
2,crd,1960,1960-10-09,crd-1960,phi,3,Sun,L,1-2,27.0,31.0,-4.0,20.0,364.0,145.0,219.0,6.0,14.0,293.0,199.0,94.0,3.0,NaN,NaN,NaN,NaN,NaN,1,0,0,1,2,0,1960-10-02,nyg,-21.0,222.0,405.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.667,30.333,-6.667,14.000,291.333,170.333,121.000,5.000,349.333,241.333,108.000,6.000,NaN,NaN,NaN
3,crd,1960,1960-10-16,crd-1960,pit,4,Sun,L,1-3,14.0,27.0,-13.0,20.0,295.0,154.0,141.0,6.0,12.0,237.0,146.0,91.0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,1,3,0,1960-10-09,phi,-4.0,364.0,293.0,1.0,28.000,29.000,-1.000,17.000,338.667,180.333,158.333,5.333,312.000,218.333,93.667,5.000,NaN,NaN,NaN,25.571,30.714,-5.143,17.429,332.857,155.857,177.000,5.571,317.143,217.143,100.000,4.286,NaN,NaN,NaN
4,crd,1960,1960-10-23,crd-1960,dal,5,Sun,W,2-3,12.0,10.0,2.0,17.0,306.0,80.0,226.0,3.0,9.0,175.0,124.0,51.0,2.0,NaN,NaN,NaN,NaN,NaN,0,0,1,2,3,0,1960-10-16,pit,-13.0,295.0,237.0,0.0,18.333,31.000,-12.667,17.000,293.667,138.000,155.667,5.667,311.667,204.333,107.333,NaN,NaN,NaN,NaN,19.400,28.733,-9.333,18.800,312.667,154.867,157.800,5.800,274.400,179.200,95.200,4.286,NaN,NaN,NaN
5,crd,1960,1960-10-30,crd-1960,nyg,6,Sun,W,3-3,20.0,13.0,7.0,15.0,260.0,75.0,185.0,3.0,16.0,225.0,116.0,109.0,8.0,NaN,NaN,NaN,NaN,NaN,1,0,1,3,3,0,1960-10-23,dal,2.0,306.0,175.0,1.0,17.667,22.667,-5.000,19.000,321.667,126.333,195.333,5.000,235.000,156.333,78.667,NaN,NaN,NaN,NaN,15.581,19.065,-3.484,17.871,309.226,116.226,193.000,4.355,223.097,150.710,72.387,2.696,NaN,NaN,NaN
6,crd,1960,1960-11-06,crd-1960,was,7,Sun,W,4-3,44.0,7.0,37.0,25.0,499.0,238.0,261.0,2.0,9.0,178.0,39.0,139.0,4.0,NaN,NaN,NaN,NaN,NaN,0,0,1,4,3,0,1960-10-30,nyg,7.0,260.0,225.0,2.0,15.333,16.667,-1.333,17.333,287.000,103.000,184.000,4.000,212.333,128.667,83.667,NaN,NaN,NaN,NaN,17.825,15.984,1.841,16.413,284.222,95.286,188.937,3.667,224.063,133.079,90.984,5.782,NaN,NaN,NaN
7,crd,1960,1960-11-13,crd-1960,cle,8,Sun,L,4-4,27.0,28.0,-1.0,18.0,385.0,215.0,170.0,3.0,20.0,402.0,168.0,234.0,3.0,NaN,NaN,NaN,NaN,NaN,1,0,0,4,4,0,1960-11-06,was,37.0,499.0,178.0,3.0,25.333,10.000,15.333,19.000,355.000,131.000,224.000,2.667,192.667,93.000,99.667,4.667,NaN,NaN,NaN,31.016,11.457,19.559,20.740,392.457,167.205,225.252,2.827,200.850,85.669,115.181,4.824,NaN,NaN,NaN
8,crd,1960,1960-11-20,crd-1960,was,9,Sun,W,5-4,26.0,14.0,12.0,28.0,515.0,248.0,267.0,5.0,8.0,154.0,117.0,37.0,5.0,NaN,NaN,NaN,NaN,NaN,1,0,1,5,4,0,1960-11-13,cle,-1.0,385.0,402.0,2.0,30.333,16.000,14.333,19.333,381.333,176.000,205.333,2.667,268.333,107.667,160.667,5.000,NaN,NaN,NaN,29.000,19.761,9.239,19.365,388.714,191.196,197.518,2.914,301.820,126.996,174.824,3.879,NaN,NaN,NaN
9,crd,1960,1960-11-27,crd-1960,cle,10,Sun,T,5-4-1,17.0,17.0,0.0,21.0,322.0,127.0,195.0,6.0,17.0,274.0,88.0,186.0,2.0,NaN,NaN,NaN,NaN,NaN,0,1,0,5,4,1,1960-11-20,was,12.0,515.0,154.0,2.0,32.333,16.333,16.000,23.667,466.333,233.667,232.667,3.333,244.667,108.000,136.667,4.000,NaN,NaN,NaN,27.497,16.875,10.622,23.691,451.980,219.654,232.327,3.959,227.765,121.988,105.777,4.449,NaN,NaN,NaN
10,crd,1960,1960-12-04,crd-1960,phi,11,Sun,L,5-5-1,6.0,20.0,-14.0,13.0,190.0,25.0,165.0,2.0,10.0,268.0,214.0,54.0,1.0,NaN,NaN,NaN,NaN,NaN,0,0,0,5,5,1,1960-11-27,cle,0.0,322.0,274.0,1.0,23.333,19.667,3.667,22.333,407.333,196.667,210.667,4.667,276.667,124.333,152.333,3.333,NaN,NaN,NaN,22.243,16.937,5.306,22.344,386.927,173.282,213.645,4.980,250.905,104.978,145.928,3.214,NaN,NaN,NaN
11,crd,1960,1960-12-18,crd-1960,pit,13,Sun,W,6-5-1,38.0,7.0,31.0,21.0,379.0,108.0,271.0,1.0,9.0,180.0,150.0,30.0,4.0,NaN,NaN,NaN,NaN,NaN,0,0,1,6,5,1,1960-12-04,phi,-14.0,190.0,268.0,1.0,16.333,17.000,-0.667,20.667,342.333,133.333,209.000,4.333,232.000,139.667,92.333,2.667,NaN,NaN,NaN,14.118,18.469,-4.352,17.670,288.415,99.105,189.311,3.489,259.457,159.515,99.941,2.102,NaN,NaN,NaN
12,crd,1961,1961-09-17,crd-1961,nyg,1,Sun,W,1-0,21.0,10.0,11.0,15.0,239.0,76.0,163.0,2.0,12.0,157.0,74.0,83.0,5.0,NaN,NaN,NaN,NaN,NaN,1,0,1,1,0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,crd,1961,1961-09-24,crd-1961,cle,2,Sun,L,1-1,17.0,20.0,-3.0,18.0,185.0,90.0,95.0,3.0,14.0,245.0,134.0,111.0,4.0,NaN,NaN,NaN,NaN,NaN,1,0,0,1,1,0,1961-09-17,nyg,11.0,239.0,157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.000,10.000,11.000,15.000,239.000,76.000,163.000,2.000,157.000,74.000,83.000,5.000,NaN,NaN,NaN
14,crd,1961,1961-10-01,crd-1961,phi,3,Sun,W,2-1,30.0,27.0,3.0,19.0,368.0,145.0,223.0,3.0,20.0,451.0,371.0,80.0,3.0,NaN,NaN,NaN,NaN,NaN,1,0,1,2,1,0,1961-09-24,cle,-3.0,185.0,245.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.333,16.667,1.667,17.000,203.000,85.333,117.667,2.667,215.667,114.000,101.667,4.333,NaN,NaN,NaN
15,crd,1961,1961-10-08,crd-1961,nyg,4,Sun,L,2-2,9.0,24.0,-15.0,5.0,160.0,132.0,28.0,7.0,15.0,224.0,153.0,71.0,2.0,NaN,NaN,NaN,NaN,NaN,0,0,0,2,2,0,1961-10-01,phi,3.0,368.0,451.0,2.0,22.667,19.000,3.667,17.333,264.000,103.667,160.333,2.667,284.333,193.000,91.333,4.000,NaN,NaN,NaN,25.000,22.571,2.429,18.143,297.286,119.429,177.857,2.857,350.143,260.857,89.286,3.571,NaN,NaN,NaN
16,crd,1961,1961-10-15,crd-1961,phi,5,Sun,L,2-3,7.0,20.0,-13.0,14.0,200.0,121.0,79.0,2.0,14.0,269.0,212.0,57.0,1.0,NaN,NaN,NaN,NaN,NaN,0,0,0,2,3,0,1961-10-08,nyg,-15.0,160.0,224.0,1.0,18.667,23.667,-5.000,14.000,237.667,122.333,115.333,4.333,306.667,219.333,87.333,3.000,NaN,NaN,NaN,16.467,23.333,-6.867,11.133,224.067,126.133,97.933,5.067,282.867,203.333,79.533,2.733,NaN,NaN,NaN
17,crd,1961,1961-10-22,crd-1961,was,6,Sun,W,3-3,24.0,0.0,24.0,14.0,242.0,155.0,87.0,NaN,11.0,89.0,48.0,41.0,2.0,NaN,NaN,NaN,NaN,NaN,1,0,1,3,3,0,1961-10-15,phi,-13.0,200.0,269.0,1.0,15.333,23.667,-8.333,12.667,242.667,132.667,110.000,4.000,314.667,245.333,69.333,2.000,NaN,NaN,NaN,11.581,21.613,-10.032,12.613,211.645,123.484,88.161,3.484,275.710,207.806,67.903,1.839,NaN,NaN,NaN
18,crd,1961,1961-10-29,crd-1961,cle,7,Sun,L,3-4,10.0,21.0,-11.0,13.0,195.0,118.0,77.0,3.0,15.0,326.0,102.0,224.0,2.0,NaN,NaN,NaN,NaN,NaN,0,0,0,3,4,0,1961-10-22,was,24.0,242.0,89.0,1.0,13.333,14.667,-1.333,11.000,200.667,136.000,64.667,NaN,194.000,137.667,56.333,1.667,NaN,NaN,NaN,17.889,10.635,7.254,13.317,227.063,139.492,87.571,3.484,180.873,126.635,54.238,1.921,NaN,NaN,NaN
19,crd,1961,1961-11-05,crd-1961,dal,8,Sun,W,4-4,31.0,17.0,14.0,13.0,193.0,71.0,122.0,1.0,18.0,374.0,238.0,136.0,5.0,NaN,NaN,NaN,NaN,NaN,1,0,1,4,4,0,1961-10-29,cle,-11.0,195.0,326.0,1.0,13.667,13.667,0.000,13.667,212.333,131.333,81.000,NaN,228.000,120.667,107.333,1.667,NaN,NaN,NaN,13.913,15.858,-1.945,13.157,210.906,128.661,82.244,3.158,254.008,114.220,139.787,1.961,NaN,NaN,NaN

In [30]:
mask = game_df.team_year == 'chi-2020'
game_df[mask]

,team,year,date,team_year,opp,week_num,game_day_of_week,game_outcome,team_record,pts_off,pts_def,margin,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home,result_tie,result_win,wins,losses,ties,prev_date,prev_opp,prev_margin,prev_yards_off,prev_yards_def,roll3_wins,roll3_pts_off,roll3_pts_def,roll3_margin,roll3_first_down_off,roll3_yards_off,roll3_pass_yds_off,roll3_rush_yds_off,roll3_to_off,roll3_yards_def,roll3_pass_yds_def,roll3_rush_yds_def,roll3_to_def,roll3_exp_pts_off,roll3_exp_pts_def,roll3_exp_pts_st,ewma_pts_off,ewma_pts_def,ewma_margin,ewma_first_down_off,ewma_yards_off,ewma_pass_yds_off,ewma_rush_yds_off,ewma_to_off,ewma_yards_def,ewma_pass_yds_def,ewma_rush_yds_def,ewma_to_def,ewma_exp_pts_off,ewma_exp_pts_def,ewma_exp_pts_st
4836,chi,2020,2020-09-13,chi-2020,det,1,Sun,W,1-0,27.0,23.0,4.0,26.0,363.0,214.0,149.0,NaN,25.0,426.0,288.0,138.0,1.0,1.0,NaN,10.0,-7.0,0.0,1,0,1,1,0,0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4837,chi,2020,2020-09-20,chi-2020,nyg,2,Sun,W,2-0,17.0,13.0,4.0,18.0,304.0,169.0,135.0,2.0,22.0,295.0,220.0,75.0,2.0,1.0,NaN,3.0,-0.0,-3.0,0,0,1,2,0,0,2020-09-13,det,4.0,363.0,426.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.000,23.000,4.000,26.000,363.000,214.000,149.000,NaN,426.000,288.000,138.000,1.000,10.000,-7.000,0.000
4838,chi,2020,2020-09-27,chi-2020,atl,3,Sun,W,3-0,30.0,26.0,4.0,24.0,437.0,307.0,130.0,2.0,22.0,371.0,227.0,144.0,1.0,1.0,NaN,2.0,-5.0,5.0,1,0,1,3,0,0,2020-09-20,nyg,4.0,304.0,295.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.333,16.333,4.000,20.667,323.667,184.000,139.667,2.000,338.667,242.667,96.000,1.667,5.333,-2.333,-2.000
4839,chi,2020,2020-10-04,chi-2020,clt,4,Sun,L,3-1,11.0,19.0,-8.0,16.0,269.0,241.0,28.0,1.0,18.0,289.0,186.0,103.0,NaN,1.0,NaN,-1.0,-2.0,-7.0,0,0,0,3,1,0,2020-09-27,atl,4.0,437.0,371.0,3.0,24.667,20.667,4.000,22.667,368.000,230.000,138.000,NaN,364.000,245.000,119.000,1.333,5.000,-4.000,0.667,25.857,21.857,4.000,22.571,388.429,254.286,134.143,2.000,357.143,233.714,123.429,1.286,3.429,-3.857,2.000
4840,chi,2020,2020-10-08,chi-2020,tam,5,Thu,W,4-1,20.0,19.0,1.0,18.0,243.0,208.0,35.0,1.0,18.0,339.0,233.0,106.0,1.0,8.0,NaN,-0.0,3.0,1.0,0,0,1,4,1,0,2020-10-04,clt,-8.0,269.0,289.0,2.0,19.333,19.333,0.000,19.333,336.667,239.000,97.667,1.667,318.333,211.000,107.333,NaN,1.333,-2.333,-1.667,17.933,20.333,-2.400,19.067,324.733,247.200,77.533,1.429,320.800,208.267,112.533,1.286,1.067,-2.867,-2.800
4841,chi,2020,2020-10-18,chi-2020,car,6,Sun,W,5-1,23.0,16.0,7.0,22.0,261.0,198.0,63.0,1.0,23.0,303.0,191.0,112.0,3.0,1.0,NaN,1.0,3.0,2.0,1,0,1,5,1,0,2020-10-08,tam,1.0,243.0,339.0,2.0,20.333,21.333,-1.000,19.333,316.333,252.000,64.333,1.333,333.000,215.333,117.667,NaN,0.333,-1.333,-0.333,19.000,19.645,-0.645,18.516,282.548,226.968,55.581,1.200,330.194,221.032,109.161,1.087,0.516,0.161,-0.839
4842,chi,2020,2020-10-26,chi-2020,ram,7,Mon,L,5-2,10.0,24.0,-14.0,14.0,279.0,230.0,49.0,2.0,24.0,371.0,211.0,160.0,1.0,8.0,NaN,-17.0,-3.0,5.0,1,0,0,5,2,0,2020-10-18,car,7.0,261.0,303.0,2.0,18.000,18.000,0.000,18.667,257.667,215.667,42.000,1.000,310.333,203.333,107.000,NaN,0.000,1.333,-1.333,21.032,17.794,3.238,20.286,271.603,212.254,59.349,1.097,316.381,205.778,110.603,2.200,0.762,1.603,0.603
4843,chi,2020,2020-11-01,chi-2020,nor,8,Sun,L,5-3,23.0,26.0,-3.0,18.0,329.0,233.0,96.0,1.0,23.0,394.0,272.0,122.0,NaN,4.0,OT,0.0,-6.0,4.0,0,0,0,5,3,0,2020-10-26,ram,-14.0,279.0,371.0,2.0,17.667,19.667,-2.000,18.000,261.000,212.000,49.000,1.333,337.667,211.667,126.000,1.667,-5.333,1.000,2.667,15.472,20.921,-5.449,17.118,275.331,221.197,54.134,1.556,343.906,208.409,135.496,1.555,-8.189,-0.717,2.819
4844,chi,2020,2020-11-08,chi-2020,oti,9,Sun,L,5-4,17.0,24.0,-7.0,22.0,375.0,319.0,56.0,2.0,11.0,228.0,136.0,92.0,NaN,1.0,NaN,-12.0,3.0,1.0,1,0,0,5,4,0,2020-11-01,nor,-3.0,329.0,394.0,1.0,18.667,22.000,-3.333,18.000,289.667,220.333,69.333,1.333,356.000,224.667,131.333,NaN,-5.333,-2.000,3.667,19.251,23.471,-4.220,17.561,302.271,227.122,75.149,1.276,369.051,240.329,128.722,1.555,-4.078,-3.369,3.412
4845,chi,2020,2020-11-16,chi-2020,min,10,Mon,L,5-5,13.0,19.0,-6.0,10.0,149.0,108.0,41.0,2.0,19.0,385.0,286.0,99.0,2.0,8.0,NaN,-18.0,3.0,8.0,0,0,0,5,5,0,2020-11-08,oti,-7.0,375.0,228.0,0.0,16.667,24.667,-8.000,18.000,327.667,260.667,67.000,1.667,331.000,206.333,124.667,NaN,-9.667,-2.000,3.333,18.123,23.736,-5.613,19.785,338.706,273.151,65.556,1.639,298.387,188.063,110.325,1.555,-8.047,-0.178,2.204
4847,chi,2020,2020-11-29,chi-2020,gnb,12,Sun,L,5-6,25.0,41.0,-16.0,26.0,350.0,229.0,121.0,3.0,28.0,393.0,211.0,182.0,NaN,8.0,NaN,6.0,-27.0,-0.0,1,0,0,5,6,0,NaT,NaN,NaN,NaN,NaN,0.0,17.667,23.000,-5.333,16.667,284.333,220.000,64.333,1.667,335.667,231.333,104.333,NaN,-10.000,0.000,4.333,15.559,21.366,-5.806,14.888,243.761,190.495,53.266,1.820,341.736,237.079,104.657,1.916,-13.028,1.413,5.105
4848,chi,2020,2020-12-06,chi-2020,det,13,Sun,L,5-7,30.0,34.0,-4.0,26.0,389.0,249.0,140.0,1.0,24.0,460.0,400.0,60.0,1.0,1.0,NaN,12.0,-17.0,0.0,0,0,0,5,7,0,2020-11-29,gnb,-16.0,350.0,393.0,0.0,18.333,28.000,-9.667,19.333,291.333,218.667,72.667,2.333,335.333,211.000,124.333,NaN,-8.000,-7.000,3.000,20.282,31.188,-10.906,20.447,296.906,209.757,87.149,2.411,367.381,224.033,143.347,1.916,-3.510,-12.801,2.551
4849,chi,2020,2020-12-13,chi-2020,htx,14,Sun,W,6-7,36.0,7.0,29.0,23.0,410.0,241.0,169.0,NaN,17.0,263.0,155.0,108.0,2.0,1.0,NaN,16.0,8.0,2.0,0,0,1,6,7,0,2020-12-06,det,-4.0,389.0,460.0,0.0,22.667,31.333,-8.667,20.667,296.000,195.333,100.667,2.000,412.667,299.000,113.667,NaN,0.000,-13.667,2.667,25.142,32.594,-7.452,23.224,342.964,229.383,113.581,1.705,413.702,312.038,101.663,1.216,4.247,-14.901,1.275
4850,chi,2020,2020-12-20,chi-2020,min,15,Sun,W,7-7,33.0,27.0,6.0,23.0,397.0,198.0,199.0,1.0,26.0,407.0,249.0,158.0,1.0,1.0,NaN,14.0,-11.0,4.0,1,0,1,7,7,0,2020-12-13,htx,29.0,410.0,263.0,1.0,30.333,27.333,3.000,25.000,383.000,239.667,143.333,NaN,372.000,255.333,116.667,NaN,11.333,-12.000,0.667,30.572,19.796,10.776,23.112,376.486,235.192,141.294,1.705,338.342,233.509,104.832,1.690,10.124,-3.449,1.638
4851,chi,2020,2020-12-27,chi-2020,jax,16,Sun,W,8-7,41.0,17.0,24.0,28.0,391.0,263.0,128.0,1.0,14.0,279.0,203.0,76.0,2.0,1.0,NaN,20.0,4.0,-2.0,1,0,1,8,7,0,2020-12-20,min,6.0,397.0,407.0,2.0,33.000,22.667,10.333,24.000,398.667,229.333,169.333,NaN,376.667,268.000,108.667,1.333,14.000,-6.667,2.000,31.786,23.398,8.388,23.056,386.744,216.595,170.149,1.235,372.673,241.255,131.418,1.312,12.062,-7.225,2.819
4852,chi,2020,2020-01-03,chi-2020,gnb,17,Sun,L,8-8,16.0,35.0,-19.0,21.0,356.0,248.0,108.0,2.0,17.0,316.0,237.0,79.0,1.0,4.0,NaN,4.0,-22.0,3.0,0,0,0,8,8,0,2020-12-27,jax,24.0,391.0,279.0,3.0,36.667,17.000,19.667,24.667,399.333,234.000,165.333,NaN,316.333,202.333,114.000,1.667,16.667,0.333,1.333,36.393,20.199,16.194,25.528,388.872,239.798,149.074,1.101,325.835,222.127,103.708,1.672,16.031,-1.612,0.409
4854,chi,2020,2020-01-10,chi-2020,nor,Wild Card,Sun,L,8-9,9.0,21.0,-12.0,11.0,239.0,191.0,48.0,NaN,27.0,385.0,262.0,123.0,1.0,4.0,NaN,-7.0,-11.0,9.0,1,0,0,8,9,0,NaT,NaN,NaN,NaN,NaN,2.0,30.000,26.333,3.667,24.000,381.333,236.333,145.000,1.333,334.000,229.667,104.333,1.333,12.667,-9.667,1.667,26.196,27.600,-1.403,23.264,372.436,243.899,128.537,1.580,320.917,229.564,91.354,1.328,10.016,-11.806,1.705

In [31]:
def get_opp_stats(row):
    """ This function takes a row & and pulls the opposing team's rolling stats,
    adding them back into the same row with new columns.
    
    For example: team: 'chi', opp: 'det'
        - this function pulls Detriot Lions
          stats and adds them to the row, which will help with prediction.
    """
    pass

In [33]:
game_df.sample(1)

,team,year,date,team_year,opp,week_num,game_day_of_week,game_outcome,team_record,pts_off,pts_def,margin,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home,result_tie,result_win,wins,losses,ties,prev_date,prev_opp,prev_margin,prev_yards_off,prev_yards_def,roll3_wins,roll3_pts_off,roll3_pts_def,roll3_margin,roll3_first_down_off,roll3_yards_off,roll3_pass_yds_off,roll3_rush_yds_off,roll3_to_off,roll3_yards_def,roll3_pass_yds_def,roll3_rush_yds_def,roll3_to_def,roll3_exp_pts_off,roll3_exp_pts_def,roll3_exp_pts_st,ewma_pts_off,ewma_pts_def,ewma_margin,ewma_first_down_off,ewma_yards_off,ewma_pass_yds_off,ewma_rush_yds_off,ewma_to_off,ewma_yards_def,ewma_pass_yds_def,ewma_rush_yds_def,ewma_to_def,ewma_exp_pts_off,ewma_exp_pts_def,ewma_exp_pts_st
10685,gnb,2014,2014-11-30,gnb-2014,nwe,13,Sun,W,9-3,26.0,21.0,5.0,24.0,478.0,348.0,130.0,NaN,20.0,320.0,236.0,84.0,NaN,4.0,NaN,19.0,-12.0,-1.0,0,0,1,9,3,0,2014-11-23,min,3.0,362.0,308.0,3.0,44.0,18.333,25.667,23.333,429.333,297.0,132.333,NaN,349.333,257.333,92.0,2.667,19.333,12.333,-6.333,35.718,21.139,14.578,23.694,408.961,274.426,134.534,1.629,352.494,242.874,109.62,2.055,16.152,3.028,-5.716

In [32]:
game_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27800 entries, 0 to 29398
Data columns (total 69 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   team                  27800 non-null  object
 1   year                  27800 non-null  int64
 2   date                  27800 non-null  datetime64[ns]
 3   team_year             27800 non-null  object
 4   opp                   27800 non-null  object
 5   week_num              27800 non-null  object
 6   game_day_of_week      27800 non-null  object
 7   game_outcome          27800 non-null  object
 8   team_record           27800 non-null  object
 9   pts_off               27800 non-null  float64
 10  pts_def               27800 non-null  float64
 11  margin                27800 non-null  float64
 12  first_down_off        27799 non-null  float64
 13  yards_off             27800 non-null  float64
 14  pass_yds_off          27792 non-null  float64
 15  rush_yds_off          27798 non-null  float64
 16  to_off                23341 non-null  float64
 17  first_down_def        27799 non-null  float64
 18  yards_def             27800 non-null  float64
 19  pass_yds_def          27792 non-null  float64
 20  rush_yds_def          27798 non-null  float64
 21  to_def                23341 non-null  float64
 22  game_time             24508 non-null  float64
 23  overtime              1288 non-null   object
 24  exp_pts_off           14168 non-null  float64
 25  exp_pts_def           14168 non-null  float64
 26  exp_pts_st            14168 non-null  float64
 27  home                  27800 non-null  int64
 28  result_tie            27800 non-null  uint8
 29  result_win            27800 non-null  uint8
 30  wins                  27800 non-null  object
 31  losses                27800 non-null  object
 32  ties                  27800 non-null  object
 33  prev_date             24470 non-null  datetime64[ns]
 34  prev_opp              24470 non-null  object
 35  prev_margin           24470 non-null  float64
 36  prev_yards_off        24470 non-null  float64
 37  prev_yards_def        24470 non-null  float64
 38  roll3_wins            22577 non-null  float64
 39  roll3_pts_off         22577 non-null  float64
 40  roll3_pts_def         22577 non-null  float64
 41  roll3_margin          22577 non-null  float64
 42  roll3_first_down_off  22576 non-null  float64
 43  roll3_yards_off       22577 non-null  float64
 44  roll3_pass_yds_off    22558 non-null  float64
 45  roll3_rush_yds_off    22574 non-null  float64
 46  roll3_to_off          13546 non-null  float64
 47  roll3_yards_def       22577 non-null  float64
 48  roll3_pass_yds_def    22557 non-null  float64
 49  roll3_rush_yds_def    22574 non-null  float64
 50  roll3_to_def          13816 non-null  float64
 51  roll3_exp_pts_off     11621 non-null  float64
 52  roll3_exp_pts_def     11621 non-null  float64
 53  roll3_exp_pts_st      11621 non-null  float64
 54  ewma_pts_off          26059 non-null  float64
 55  ewma_pts_def          26059 non-null  float64
 56  ewma_margin           26059 non-null  float64
 57  ewma_first_down_off   26058 non-null  float64
 58  ewma_yards_off        26059 non-null  float64
 59  ewma_pass_yds_off     26059 non-null  float64
 60  ewma_rush_yds_off     26059 non-null  float64
 61  ewma_to_off           25713 non-null  float64
 62  ewma_yards_def        26059 non-null  float64
 63  ewma_pass_yds_def     26059 non-null  float64
 64  ewma_rush_yds_def     26059 non-null  float64
 65  ewma_to_def           25722 non-null  float64
 66  ewma_exp_pts_off      13319 non-null  float64
 67  ewma_exp_pts_def      13319 non-null  float64
 68  ewma_exp_pts_st       13319 non-null  float64
dtypes: datetime64[ns](2), float64(51), int64(2), object(12), uint8(2)
memory usage: 14.5+ MB