In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
pd.set_option("display.max_columns", 101)
pd.set_option("display.max_rows", 73)

In [3]:
team_df = pd.read_pickle('data/team_stats_scraped.pickle')
game_df = pd.read_pickle('data/games_scraped.pickle')

In [4]:
game_df.shape

(29399, 26)

In [5]:
mask = (game_df.team == 'chi') & (game_df.year == 2019)
game_df[mask]

,team,year,opp,week_num,game_day_of_week,game_date,game_outcome,team_record,game_location,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st
4819,chi,2019,gnb,1,Thu,September 5,L,0-1,NaN,3.0,10.0,16.0,254.0,208.0,46.0,1.0,13.0,213.0,166.0,47.0,NaN,8.0,NaN,-20.0,9.0,-2.0
4820,chi,2019,den,2,Sun,September 15,W,1-1,@,16.0,14.0,18.0,273.0,120.0,153.0,NaN,27.0,372.0,282.0,90.0,1.0,4.0,NaN,4.0,-4.0,5.0
4821,chi,2019,was,3,Mon,September 23,W,2-1,@,31.0,15.0,21.0,298.0,208.0,90.0,1.0,25.0,356.0,287.0,69.0,5.0,8.0,NaN,9.0,11.0,-3.0
4822,chi,2019,min,4,Sun,September 29,W,3-1,NaN,16.0,6.0,17.0,269.0,197.0,72.0,NaN,15.0,222.0,182.0,40.0,2.0,4.0,NaN,-2.0,10.0,1.0
4823,chi,2019,rai,5,Sun,October 6,L,3-2,@,21.0,24.0,15.0,236.0,194.0,42.0,2.0,25.0,398.0,229.0,169.0,2.0,1.0,NaN,-3.0,-2.0,-0.0
4824,chi,2019,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4825,chi,2019,nor,7,Sun,October 20,L,3-3,NaN,25.0,36.0,16.0,252.0,235.0,17.0,2.0,24.0,424.0,273.0,151.0,NaN,4.0,NaN,-12.0,-13.0,10.0
4826,chi,2019,sdg,8,Sun,October 27,L,3-4,NaN,16.0,17.0,26.0,388.0,226.0,162.0,2.0,11.0,231.0,195.0,36.0,1.0,1.0,NaN,0.0,5.0,-6.0
4827,chi,2019,phi,9,Sun,November 3,L,3-5,@,14.0,22.0,10.0,164.0,102.0,62.0,1.0,26.0,373.0,227.0,146.0,NaN,1.0,NaN,-4.0,-10.0,2.0
4828,chi,2019,det,10,Sun,November 10,W,4-5,NaN,20.0,13.0,13.0,226.0,145.0,81.0,NaN,21.0,357.0,259.0,98.0,1.0,1.0,NaN,-0.0,6.0,-2.0
4829,chi,2019,ram,11,Sun,November 17,L,4-6,@,7.0,17.0,17.0,267.0,193.0,74.0,1.0,13.0,283.0,173.0,110.0,2.0,8.0,NaN,-13.0,5.0,-5.0
4830,chi,2019,nyg,12,Sun,November 24,W,5-6,NaN,19.0,14.0,20.0,335.0,270.0,65.0,2.0,14.0,243.0,134.0,109.0,1.0,1.0,NaN,-7.0,12.0,-2.0
4831,chi,2019,det,13,Thu,November 28,W,6-6,@,24.0,20.0,22.0,419.0,331.0,88.0,1.0,19.0,364.0,259.0,105.0,1.0,12.0,NaN,8.0,-6.0,0.0
4832,chi,2019,dal,14,Thu,December 5,W,7-6,NaN,31.0,24.0,24.0,382.0,231.0,151.0,2.0,22.0,408.0,326.0,82.0,NaN,8.0,NaN,10.0,-10.0,8.0
4833,chi,2019,gnb,15,Sun,December 15,L,7-7,@,13.0,21.0,20.0,415.0,319.0,96.0,3.0,12.0,292.0,192.0,100.0,NaN,1.0,NaN,-4.0,2.0,-1.0
4834,chi,2019,kan,16,Sun,December 22,L,7-8,NaN,3.0,26.0,18.0,234.0,133.0,101.0,NaN,25.0,350.0,244.0,106.0,NaN,8.0,NaN,-6.0,-14.0,-1.0
4835,chi,2019,min,17,Sun,December 29,W,8-8,@,21.0,19.0,24.0,337.0,179.0,158.0,1.0,14.0,300.0,126.0,174.0,3.0,1.0,NaN,1.0,-2.0,-1.0

In [6]:
# clean the game_location column & apply change. def home_game(row):
def home_game(row):    
    if row == '@':
        return 0
    return 1

game_df['home'] = game_df.game_location.apply(home_game)
game_df.drop("game_location", axis=1, errors='ignore', inplace=True)

In [7]:
game_df[mask]

,team,year,opp,week_num,game_day_of_week,game_date,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home
4819,chi,2019,gnb,1,Thu,September 5,L,0-1,3.0,10.0,16.0,254.0,208.0,46.0,1.0,13.0,213.0,166.0,47.0,NaN,8.0,NaN,-20.0,9.0,-2.0,1
4820,chi,2019,den,2,Sun,September 15,W,1-1,16.0,14.0,18.0,273.0,120.0,153.0,NaN,27.0,372.0,282.0,90.0,1.0,4.0,NaN,4.0,-4.0,5.0,0
4821,chi,2019,was,3,Mon,September 23,W,2-1,31.0,15.0,21.0,298.0,208.0,90.0,1.0,25.0,356.0,287.0,69.0,5.0,8.0,NaN,9.0,11.0,-3.0,0
4822,chi,2019,min,4,Sun,September 29,W,3-1,16.0,6.0,17.0,269.0,197.0,72.0,NaN,15.0,222.0,182.0,40.0,2.0,4.0,NaN,-2.0,10.0,1.0,1
4823,chi,2019,rai,5,Sun,October 6,L,3-2,21.0,24.0,15.0,236.0,194.0,42.0,2.0,25.0,398.0,229.0,169.0,2.0,1.0,NaN,-3.0,-2.0,-0.0,0
4824,chi,2019,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4825,chi,2019,nor,7,Sun,October 20,L,3-3,25.0,36.0,16.0,252.0,235.0,17.0,2.0,24.0,424.0,273.0,151.0,NaN,4.0,NaN,-12.0,-13.0,10.0,1
4826,chi,2019,sdg,8,Sun,October 27,L,3-4,16.0,17.0,26.0,388.0,226.0,162.0,2.0,11.0,231.0,195.0,36.0,1.0,1.0,NaN,0.0,5.0,-6.0,1
4827,chi,2019,phi,9,Sun,November 3,L,3-5,14.0,22.0,10.0,164.0,102.0,62.0,1.0,26.0,373.0,227.0,146.0,NaN,1.0,NaN,-4.0,-10.0,2.0,0
4828,chi,2019,det,10,Sun,November 10,W,4-5,20.0,13.0,13.0,226.0,145.0,81.0,NaN,21.0,357.0,259.0,98.0,1.0,1.0,NaN,-0.0,6.0,-2.0,1
4829,chi,2019,ram,11,Sun,November 17,L,4-6,7.0,17.0,17.0,267.0,193.0,74.0,1.0,13.0,283.0,173.0,110.0,2.0,8.0,NaN,-13.0,5.0,-5.0,0
4830,chi,2019,nyg,12,Sun,November 24,W,5-6,19.0,14.0,20.0,335.0,270.0,65.0,2.0,14.0,243.0,134.0,109.0,1.0,1.0,NaN,-7.0,12.0,-2.0,1
4831,chi,2019,det,13,Thu,November 28,W,6-6,24.0,20.0,22.0,419.0,331.0,88.0,1.0,19.0,364.0,259.0,105.0,1.0,12.0,NaN,8.0,-6.0,0.0,0
4832,chi,2019,dal,14,Thu,December 5,W,7-6,31.0,24.0,24.0,382.0,231.0,151.0,2.0,22.0,408.0,326.0,82.0,NaN,8.0,NaN,10.0,-10.0,8.0,1
4833,chi,2019,gnb,15,Sun,December 15,L,7-7,13.0,21.0,20.0,415.0,319.0,96.0,3.0,12.0,292.0,192.0,100.0,NaN,1.0,NaN,-4.0,2.0,-1.0,0
4834,chi,2019,kan,16,Sun,December 22,L,7-8,3.0,26.0,18.0,234.0,133.0,101.0,NaN,25.0,350.0,244.0,106.0,NaN,8.0,NaN,-6.0,-14.0,-1.0,1
4835,chi,2019,min,17,Sun,December 29,W,8-8,21.0,19.0,24.0,337.0,179.0,158.0,1.0,14.0,300.0,126.0,174.0,3.0,1.0,NaN,1.0,-2.0,-1.0,0

In [8]:
# add team_year identifier to each row (to easily groupby team/year)

team_years = game_df['team'] + '-' +  game_df['year'].astype(str) 
game_df.insert(loc=2, column='team_year', value=team_years)
game_df.sample()

,team,year,team_year,opp,week_num,game_day_of_week,game_date,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home
14759,min,1971,min-1971,clt,6,Mon,October 25,W,5-1,10.0,3.0,9.0,153.0,86.0,67.0,1.0,16.0,276.0,147.0,129.0,3.0,9.0,NaN,NaN,NaN,NaN,1

Datetime formatting strings:

- ``%B`` month fullname
- ``%-d`` day of month without leading zero\*
    - \*note: the ``-`` only works on Linux/OS-X...for windows replace with '#'
- ``%Y`` full year

In [9]:
# convert game date to datetime & add new column to DF


f = r"%B %d-%Y"
full_game_date = game_df.game_date + '-' + game_df.year.astype(str)
full_game_date = pd.to_datetime(full_game_date, format=f)
game_df.insert(loc=2, column='date', value=full_game_date)
game_df.sample(3)

,team,year,date,team_year,opp,week_num,game_day_of_week,game_date,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home
23445,sdg,2005,2005-10-23,sdg-2005,phi,7,Sun,October 23,L,3-4,17.0,20.0,15.0,291.0,270.0,21.0,3.0,22.0,286.0,262.0,24.0,2.0,1.0,NaN,-13.0,12.0,-5.0,0
15558,min,2016,2016-12-01,min-2016,dal,13,Thu,December 1,L,6-6,15.0,17.0,21.0,318.0,231.0,87.0,1.0,13.0,264.0,124.0,140.0,2.0,7.0,NaN,-2.0,9.0,-11.0,1
26881,tam,1994,1994-10-02,tam-1994,det,5,Sun,October 2,W,2-3,24.0,14.0,16.0,234.0,115.0,119.0,NaN,17.0,321.0,125.0,196.0,1.0,1.0,NaN,1.0,-4.0,9.0,1

In [10]:
# now drop the game_date col
game_df.drop("game_date", axis=1, inplace=True, errors='ignore')
game_df.sample(2) # to confirm

,team,year,date,team_year,opp,week_num,game_day_of_week,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home
29046,was,2000,2000-12-16,was-2000,pit,16,Sat,L,7-8,3.0,24.0,14.0,271.0,207.0,64.0,5.0,21.0,374.0,174.0,200.0,1.0,12.0,NaN,-20.0,-5.0,0.0,0
14329,mia,2004,2004-12-26,mia-2004,cle,16,Sun,W,4-11,10.0,7.0,19.0,280.0,164.0,116.0,2.0,14.0,285.0,143.0,142.0,4.0,8.0,NaN,-8.0,3.0,5.0,1

In [11]:
# add decade column
decades = game_df['year'] // 10
game_df.insert(loc=5, column='decade', value=decades)
game_df[['date', 'decade']].sample(10)

            date  decade
11633 1991-12-01     199
24293 1994-01-29     199
14481 2013-12-01     201
24885 1983-12-24     198
3836  2020-10-04     202
18380 2008-10-26     200
29275 2013-12-29     201
28556 1972-10-29     197
8479  2004-12-12     200
19100 1992-11-08     199

In [12]:
# add unique game identifier that will be the same for both teams in the same game


def apply_game_id(row):
    teams = []
    teams.append(str(row['team']))
    teams.append(str(row['opp']))
    teams.sort()
    
    game_id = teams[0] + '-' +  teams[1] + '-' + str(row['date'])[:-8]
    return game_id

In [13]:
game_df['game_id'] = game_df.apply(apply_game_id, axis=1)
game_df

,team,year,date,team_year,opp,decade,week_num,game_day_of_week,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home,game_id
0,crd,1960,1960-09-23,crd-1960,ram,196,1,Fri,W,1-0,43.0,21.0,20.0,430.0,281.0,149.0,5.0,16.0,238.0,188.0,50.0,6.0,NaN,NaN,NaN,NaN,NaN,0,crd-ram-1960-09-23
1,crd,1960,1960-10-02,crd-1960,nyg,196,2,Sun,L,1-1,14.0,35.0,11.0,222.0,115.0,107.0,5.0,18.0,405.0,268.0,137.0,6.0,NaN,NaN,NaN,NaN,NaN,1,crd-nyg-1960-10-02
2,crd,1960,1960-10-09,crd-1960,phi,196,3,Sun,L,1-2,27.0,31.0,20.0,364.0,145.0,219.0,6.0,14.0,293.0,199.0,94.0,3.0,NaN,NaN,NaN,NaN,NaN,0,crd-phi-1960-10-09
3,crd,1960,1960-10-16,crd-1960,pit,196,4,Sun,L,1-3,14.0,27.0,20.0,295.0,154.0,141.0,6.0,12.0,237.0,146.0,91.0,NaN,NaN,NaN,NaN,NaN,NaN,0,crd-pit-1960-10-16
4,crd,1960,1960-10-23,crd-1960,dal,196,5,Sun,W,2-3,12.0,10.0,17.0,306.0,80.0,226.0,3.0,9.0,175.0,124.0,51.0,2.0,NaN,NaN,NaN,NaN,NaN,1,crd-dal-1960-10-23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29394,was,2020,2020-12-20,was-2020,sea,202,15,Sun,L,6-8,15.0,20.0,26.0,353.0,269.0,84.0,2.0,16.0,302.0,121.0,181.0,1.0,1.0,NaN,1.0,-3.0,-4.0,1,sea-was-2020-12-20
29395,was,2020,2020-12-27,was-2020,car,202,16,Sun,L,6-9,13.0,20.0,20.0,386.0,278.0,108.0,4.0,19.0,280.0,167.0,113.0,2.0,4.0,NaN,-5.0,5.0,-7.0,1,car-was-2020-12-27
29396,was,2020,2020-01-03,was-2020,phi,202,17,Sun,W,7-9,20.0,14.0,16.0,248.0,145.0,103.0,2.0,16.0,216.0,98.0,118.0,3.0,8.0,NaN,-8.0,11.0,3.0,0,phi-was-2020-01-03
29397,was,2020,NaT,was-2020,NaN,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,nan-was-
29398,was,2020,2020-01-09,was-2020,tam,202,Wild Card,Sat,L,7-10,23.0,31.0,23.0,375.0,289.0,86.0,1.0,26.0,507.0,365.0,142.0,1.0,8.0,NaN,5.0,-14.0,1.0,1,tam-was-2020-01-09

In [14]:
cat_game_outcome = game_df.loc[:, ['game_outcome']]
cat_game_outcome.value_counts()

game_outcome
L               13773
W               13773
T                 254
dtype: int64

In [15]:
# convert game_outcome col to binary to avoid multicolinearity

game_df[['result_tie', 'result_win']] = pd.get_dummies(game_df.game_outcome, drop_first=True)
game_df.sample(10)

,team,year,date,team_year,opp,decade,week_num,game_day_of_week,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home,game_id,result_tie,result_win
16412,nwe,2007,2007-10-07,nwe-2007,cle,200,5,Sun,W,5-0,34.0,17.0,23.0,412.0,265.0,147.0,NaN,22.0,353.0,261.0,92.0,4.0,1.0,NaN,7.0,18.0,-6.0,1,cle-nwe-2007-10-07,0,1
10468,gnb,2003,2003-10-05,gnb-2003,sea,200,5,Sun,W,3-2,35.0,13.0,27.0,336.0,177.0,159.0,NaN,23.0,343.0,215.0,128.0,2.0,1.0,NaN,24.0,-1.0,-1.0,1,gnb-sea-2003-10-05,0,1
14003,mia,1986,1986-12-14,mia-1986,ram,198,15,Sun,W,8-7,37.0,31.0,23.0,506.0,399.0,107.0,2.0,25.0,372.0,230.0,142.0,1.0,4.0,OT,NaN,NaN,NaN,0,mia-ram-1986-12-14,0,1
23726,sdg,2020,2020-12-27,sdg-2020,den,202,16,Sun,W,6-9,19.0,16.0,16.0,316.0,227.0,89.0,NaN,23.0,396.0,263.0,133.0,2.0,4.0,NaN,1.0,-4.0,4.0,1,den-sdg-2020-12-27,0,1
21904,pit,1976,1976-10-17,pit-1976,cin,197,6,Sun,W,2-4,23.0,6.0,16.0,253.0,52.0,201.0,2.0,11.0,171.0,96.0,75.0,3.0,1.0,NaN,NaN,NaN,NaN,1,cin-pit-1976-10-17,0,1
13672,mia,1966,1966-11-13,mia-1966,kan,196,11,Sun,L,2-7,16.0,34.0,11.0,160.0,79.0,81.0,6.0,17.0,396.0,236.0,160.0,5.0,NaN,NaN,NaN,NaN,NaN,0,kan-mia-1966-11-13,0,0
22295,pit,1998,1998-10-26,pit-1998,kan,199,8,Mon,W,5-2,20.0,13.0,20.0,272.0,90.0,182.0,1.0,16.0,290.0,218.0,72.0,3.0,8.0,NaN,4.0,3.0,2.0,0,kan-pit-1998-10-26,0,1
13040,kan,1986,1986-11-16,kan-1986,den,198,11,Sun,L,7-4,17.0,38.0,16.0,297.0,220.0,77.0,4.0,18.0,265.0,198.0,67.0,2.0,4.0,NaN,NaN,NaN,NaN,0,den-kan-1986-11-16,0,0
4232,chi,1985,1985-01-12,chi-1985,ram,198,Conf,Sun,W,17-1,24.0,0.0,13.0,232.0,141.0,91.0,1.0,9.0,130.0,44.0,86.0,3.0,12.0,NaN,NaN,NaN,NaN,1,chi-ram-1985-01-12,0,1
16983,nor,1987,1987-11-08,nor-1987,ram,198,9,Sun,W,5-3,31.0,14.0,20.0,443.0,211.0,232.0,2.0,18.0,304.0,202.0,102.0,3.0,4.0,NaN,NaN,NaN,NaN,0,nor-ram-1987-11-08,0,1

In [16]:
mask = game_df.game_outcome == "T"
game_df[mask].head()

,team,year,date,team_year,opp,decade,week_num,game_day_of_week,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home,game_id,result_tie,result_win
9,crd,1960,1960-11-27,crd-1960,cle,196,10,Sun,T,5-4-1,17.0,17.0,21.0,322.0,127.0,195.0,6.0,17.0,274.0,88.0,186.0,2.0,NaN,NaN,NaN,NaN,NaN,1,cle-crd-1960-11-27,1,0
30,crd,1962,1962-10-14,crd-1962,was,196,5,Sun,T,1-3-1,17.0,17.0,16.0,309.0,251.0,58.0,2.0,15.0,321.0,259.0,62.0,1.0,NaN,NaN,NaN,NaN,NaN,1,crd-was-1962-10-14,1,0
55,crd,1964,1964-09-20,crd-1964,cle,196,2,Sun,T,1-0-1,33.0,33.0,17.0,344.0,230.0,114.0,3.0,18.0,281.0,166.0,115.0,3.0,NaN,NaN,NaN,NaN,NaN,0,cle-crd-1964-09-20,1,0
63,crd,1964,1964-11-15,crd-1964,nyg,196,10,Sun,T,5-3-2,10.0,10.0,12.0,143.0,105.0,38.0,3.0,12.0,212.0,131.0,81.0,3.0,NaN,NaN,NaN,NaN,NaN,1,crd-nyg-1964-11-15,1,0
87,crd,1966,1966-10-16,crd-1966,dal,196,6,Sun,T,5-0-1,10.0,10.0,13.0,175.0,130.0,45.0,NaN,17.0,326.0,191.0,135.0,4.0,NaN,NaN,NaN,NaN,NaN,1,crd-dal-1966-10-16,1,0

In [17]:


game_df = (game_df.assign(wins=game_df.team_record.str.split('-').str.get(0),
                          losses=game_df.team_record.str.split('-').str.get(1),
                          ties=game_df.team_record.str.split('-').str.get(2)))
game_df.sample(20)

,team,year,date,team_year,opp,decade,week_num,game_day_of_week,game_outcome,team_record,pts_off,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home,game_id,result_tie,result_win,wins,losses,ties
13643,kan,2019,2019-01-19,kan-2019,oti,201,Conf,Sun,W,14-4,35.0,24.0,27.0,404.0,292.0,112.0,NaN,20.0,295.0,210.0,85.0,NaN,3.0,NaN,29.0,-5.0,-9.0,1,kan-oti-2019-01-19,0,1,14,4,NaN
6893,dal,1973,1973-10-14,dal-1973,ram,197,5,Sun,L,3-2,31.0,37.0,17.0,264.0,150.0,114.0,5.0,16.0,383.0,279.0,104.0,3.0,4.0,NaN,NaN,NaN,NaN,0,dal-ram-1973-10-14,0,0,3,2,NaN
19187,nyj,1997,1997-11-09,nyj-1997,mia,199,11,Sun,L,6-4,17.0,24.0,20.0,382.0,303.0,79.0,2.0,21.0,296.0,176.0,120.0,NaN,1.0,NaN,-3.0,-1.0,-2.0,0,mia-nyj-1997-11-09,0,0,6,4,NaN
28149,oti,2007,2007-01-06,oti-2007,sdg,200,Wild Card,Sun,L,10-7,6.0,17.0,15.0,248.0,129.0,119.0,2.0,17.0,350.0,282.0,68.0,1.0,4.0,NaN,-9.0,-7.0,3.0,0,oti-sdg-2007-01-06,0,0,10,7,NaN
18029,nyg,1989,1989-10-15,nyg-1989,was,198,6,Sun,W,5-1,20.0,17.0,19.0,306.0,173.0,133.0,1.0,18.0,316.0,194.0,122.0,2.0,1.0,NaN,NaN,NaN,NaN,1,nyg-was-1989-10-15,0,1,5,1,NaN
6951,dal,1976,1976-12-12,dal-1976,was,197,14,Sun,L,11-3,14.0,27.0,10.0,203.0,54.0,149.0,4.0,24.0,359.0,175.0,184.0,4.0,4.0,NaN,NaN,NaN,NaN,1,dal-was-1976-12-12,0,0,11,3,NaN
20751,phi,1968,1968-10-06,phi-1968,was,196,4,Sun,L,0-4,14.0,17.0,13.0,221.0,138.0,83.0,4.0,17.0,320.0,196.0,124.0,1.0,NaN,NaN,NaN,NaN,NaN,0,phi-was-1968-10-06,0,0,0,4,NaN
14685,min,1966,1966-11-20,min-1966,ram,196,11,Sun,L,3-6-1,6.0,21.0,10.0,186.0,43.0,143.0,4.0,15.0,228.0,130.0,98.0,1.0,NaN,NaN,NaN,NaN,NaN,0,min-ram-1966-11-20,0,0,3,6,1
15225,min,1998,1998-10-18,min-1998,was,199,7,Sun,W,6-0,41.0,7.0,25.0,435.0,288.0,147.0,1.0,9.0,177.0,95.0,82.0,1.0,1.0,NaN,19.0,23.0,-8.0,1,min-was-1998-10-18,0,1,6,0,NaN
27593,oti,1976,1976-10-10,oti-1976,den,197,5,Sun,W,4-1,17.0,3.0,18.0,312.0,217.0,95.0,NaN,8.0,154.0,67.0,87.0,1.0,2.0,NaN,NaN,NaN,NaN,1,den-oti-1976-10-10,0,1,4,1,NaN
16201,nwe,1996,1996-10-27,nwe-1996,buf,199,9,Sun,W,5-3,28.0,25.0,23.0,417.0,358.0,59.0,1.0,18.0,337.0,196.0,141.0,1.0,8.0,NaN,-4.0,2.0,7.0,1,buf-nwe-1996-10-27,0,1,5,3,NaN
3866,chi,1961,1961-10-15,chi-1961,clt,196,5,Sun,W,3-2,24.0,10.0,14.0,284.0,194.0,90.0,1.0,20.0,362.0,256.0,106.0,1.0,NaN,NaN,NaN,NaN,NaN,1,chi-clt-1961-10-15,0,1,3,2,NaN
15609,min,2019,2019-11-10,min-2019,dal,201,10,Sun,W,7-3,28.0,24.0,27.0,364.0,211.0,153.0,NaN,24.0,443.0,393.0,50.0,1.0,8.0,NaN,18.0,-18.0,2.0,0,dal-min-2019-11-10,0,1,7,3,NaN
14818,min,1974,1974-12-29,min-1974,ram,197,Conf,Sun,W,12-4,14.0,10.0,18.0,269.0,105.0,164.0,3.0,15.0,340.0,219.0,121.0,5.0,1.0,NaN,NaN,NaN,NaN,1,min-ram-1974-12-29,0,1,12,4,NaN
7558,dal,2010,2010-10-25,dal-2010,nyg,201,7,Mon,L,1-5,35.0,41.0,14.0,254.0,213.0,41.0,2.0,25.0,497.0,297.0,200.0,5.0,8.0,NaN,-13.0,-0.0,4.0,1,dal-nyg-2010-10-25,0,0,1,5,NaN
8292,den,1994,1994-11-20,den-1994,atl,199,12,Sun,W,5-6,32.0,28.0,25.0,425.0,336.0,89.0,2.0,16.0,330.0,254.0,76.0,NaN,4.0,NaN,10.0,-6.0,-4.0,1,atl-den-1994-11-20,0,1,5,6,NaN
22162,pit,1991,1991-11-17,pit-1991,was,199,12,Sun,L,4-7,14.0,41.0,16.0,282.0,241.0,41.0,2.0,23.0,462.0,365.0,97.0,NaN,1.0,NaN,NaN,NaN,NaN,1,pit-was-1991-11-17,0,0,4,7,NaN
21868,pit,1974,1974-10-20,pit-1974,cle,197,6,Sun,W,4-1-1,20.0,16.0,15.0,231.0,66.0,165.0,1.0,16.0,262.0,127.0,135.0,3.0,1.0,NaN,NaN,NaN,NaN,1,cle-pit-1974-10-20,0,1,4,1,1
22499,pit,2009,2009-10-18,pit-2009,cle,200,6,Sun,W,4-2,27.0,14.0,28.0,543.0,403.0,140.0,4.0,12.0,197.0,106.0,91.0,4.0,1.0,NaN,11.0,14.0,-12.0,1,cle-pit-2009-10-18,0,1,4,2,NaN
2595,buf,1975,1975-11-23,buf-1975,nwe,197,10,Sun,W,6-4,45.0,31.0,23.0,416.0,263.0,153.0,1.0,28.0,498.0,360.0,138.0,5.0,1.0,NaN,NaN,NaN,NaN,1,buf-nwe-1975-11-23,0,1,6,4,NaN

Okay, almost there. Our ties are coming through, but we get NaNs for teams that haven't tied, so we'll need to replace those with zeros.

In [18]:
# fill ties NaNs with zero
game_df['ties'] = game_df.ties.fillna(0)

In [19]:
# add 'margin' col
margins = game_df.pts_off - game_df.pts_def
game_df.insert(loc=11, column='margin', value=margins)
game_df[mask]

,team,year,date,team_year,opp,decade,week_num,game_day_of_week,game_outcome,team_record,pts_off,margin,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home,game_id,result_tie,result_win,wins,losses,ties
9,crd,1960,1960-11-27,crd-1960,cle,196,10,Sun,T,5-4-1,17.0,0.0,17.0,21.0,322.0,127.0,195.0,6.0,17.0,274.0,88.0,186.0,2.0,NaN,NaN,NaN,NaN,NaN,1,cle-crd-1960-11-27,1,0,5,4,1
30,crd,1962,1962-10-14,crd-1962,was,196,5,Sun,T,1-3-1,17.0,0.0,17.0,16.0,309.0,251.0,58.0,2.0,15.0,321.0,259.0,62.0,1.0,NaN,NaN,NaN,NaN,NaN,1,crd-was-1962-10-14,1,0,1,3,1
55,crd,1964,1964-09-20,crd-1964,cle,196,2,Sun,T,1-0-1,33.0,0.0,33.0,17.0,344.0,230.0,114.0,3.0,18.0,281.0,166.0,115.0,3.0,NaN,NaN,NaN,NaN,NaN,0,cle-crd-1964-09-20,1,0,1,0,1
63,crd,1964,1964-11-15,crd-1964,nyg,196,10,Sun,T,5-3-2,10.0,0.0,10.0,12.0,143.0,105.0,38.0,3.0,12.0,212.0,131.0,81.0,3.0,NaN,NaN,NaN,NaN,NaN,1,crd-nyg-1964-11-15,1,0,5,3,2
87,crd,1966,1966-10-16,crd-1966,dal,196,6,Sun,T,5-0-1,10.0,0.0,10.0,13.0,175.0,130.0,45.0,NaN,17.0,326.0,191.0,135.0,4.0,NaN,NaN,NaN,NaN,NaN,1,crd-dal-1966-10-16,1,0,5,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28508,was,1969,1969-10-05,was-1969,sfo,196,3,Sun,T,1-1-1,17.0,0.0,17.0,20.0,304.0,250.0,54.0,2.0,19.0,271.0,144.0,127.0,1.0,NaN,NaN,NaN,NaN,NaN,0,sfo-was-1969-10-05,1,0,1,1,1
28513,was,1969,1969-11-09,was-1969,phi,196,8,Sun,T,4-2-2,28.0,0.0,28.0,18.0,339.0,222.0,117.0,1.0,25.0,372.0,199.0,173.0,3.0,NaN,NaN,NaN,NaN,NaN,1,phi-was-1969-11-09,1,0,4,2,2
28541,was,1971,1971-11-07,was-1971,phi,197,8,Sun,T,6-1-1,7.0,0.0,7.0,14.0,197.0,136.0,61.0,7.0,10.0,172.0,95.0,77.0,1.0,1.0,NaN,NaN,NaN,NaN,1,phi-was-1971-11-07,1,0,6,1,1
28989,was,1997,1997-11-23,was-1997,nyg,199,13,Sun,T,6-5-1,7.0,0.0,7.0,23.0,374.0,291.0,83.0,4.0,18.0,262.0,105.0,157.0,2.0,8.0,OT,-24.0,23.0,-2.0,1,nyg-was-1997-11-23,1,0,6,5,1
29319,was,2016,2016-10-30,was-2016,cin,201,8,Sun,T,4-3-1,27.0,0.0,27.0,30.0,546.0,446.0,100.0,1.0,35.0,415.0,263.0,152.0,2.0,8.0,OT,16.0,-13.0,-7.0,0,cin-was-2016-10-30,1,0,4,3,1

In [20]:
# drop rows for bye weeks
game_df.dropna(axis=0, how='any', subset=['game_outcome'], inplace=True)


# drop exp_pts cols
game_df.drop(['exp_pts_off', 'exp_pts_def', 'exp_pts_st'], axis=1)

,team,year,date,team_year,opp,decade,week_num,game_day_of_week,game_outcome,team_record,pts_off,margin,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,home,game_id,result_tie,result_win,wins,losses,ties
0,crd,1960,1960-09-23,crd-1960,ram,196,1,Fri,W,1-0,43.0,22.0,21.0,20.0,430.0,281.0,149.0,5.0,16.0,238.0,188.0,50.0,6.0,NaN,NaN,0,crd-ram-1960-09-23,0,1,1,0,0
1,crd,1960,1960-10-02,crd-1960,nyg,196,2,Sun,L,1-1,14.0,-21.0,35.0,11.0,222.0,115.0,107.0,5.0,18.0,405.0,268.0,137.0,6.0,NaN,NaN,1,crd-nyg-1960-10-02,0,0,1,1,0
2,crd,1960,1960-10-09,crd-1960,phi,196,3,Sun,L,1-2,27.0,-4.0,31.0,20.0,364.0,145.0,219.0,6.0,14.0,293.0,199.0,94.0,3.0,NaN,NaN,0,crd-phi-1960-10-09,0,0,1,2,0
3,crd,1960,1960-10-16,crd-1960,pit,196,4,Sun,L,1-3,14.0,-13.0,27.0,20.0,295.0,154.0,141.0,6.0,12.0,237.0,146.0,91.0,NaN,NaN,NaN,0,crd-pit-1960-10-16,0,0,1,3,0
4,crd,1960,1960-10-23,crd-1960,dal,196,5,Sun,W,2-3,12.0,2.0,10.0,17.0,306.0,80.0,226.0,3.0,9.0,175.0,124.0,51.0,2.0,NaN,NaN,1,crd-dal-1960-10-23,0,1,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29393,was,2020,2020-12-13,was-2020,sfo,202,14,Sun,W,6-7,23.0,8.0,15.0,12.0,193.0,95.0,98.0,1.0,21.0,344.0,236.0,108.0,3.0,4.0,NaN,0,sfo-was-2020-12-13,0,1,6,7,0
29394,was,2020,2020-12-20,was-2020,sea,202,15,Sun,L,6-8,15.0,-5.0,20.0,26.0,353.0,269.0,84.0,2.0,16.0,302.0,121.0,181.0,1.0,1.0,NaN,1,sea-was-2020-12-20,0,0,6,8,0
29395,was,2020,2020-12-27,was-2020,car,202,16,Sun,L,6-9,13.0,-7.0,20.0,20.0,386.0,278.0,108.0,4.0,19.0,280.0,167.0,113.0,2.0,4.0,NaN,1,car-was-2020-12-27,0,0,6,9,0
29396,was,2020,2020-01-03,was-2020,phi,202,17,Sun,W,7-9,20.0,6.0,14.0,16.0,248.0,145.0,103.0,2.0,16.0,216.0,98.0,118.0,3.0,8.0,NaN,0,phi-was-2020-01-03,0,1,7,9,0
29398,was,2020,2020-01-09,was-2020,tam,202,Wild Card,Sat,L,7-10,23.0,-8.0,31.0,23.0,375.0,289.0,86.0,1.0,26.0,507.0,365.0,142.0,1.0,8.0,NaN,1,tam-was-2020-01-09,0,0,7,10,0

In [21]:
game_df.columns

Index(['team', 'year', 'date', 'team_year', 'opp', 'decade', 'week_num',
       'game_day_of_week', 'game_outcome', 'team_record', 'pts_off', 'margin',
       'pts_def', 'first_down_off', 'yards_off', 'pass_yds_off',
       'rush_yds_off', 'to_off', 'first_down_def', 'yards_def', 'pass_yds_def',
       'rush_yds_def', 'to_def', 'game_time', 'overtime', 'exp_pts_off',
       'exp_pts_def', 'exp_pts_st', 'home', 'game_id', 'result_tie',
       'result_win', 'wins', 'losses', 'ties'],
      dtype='object')

In [23]:
# add 'prev_week' cols

cols_to_shift = ['wins', 'losses', 'ties', 'pts_off', 'pts_def',
       'margin', 'first_down_off', 'yards_off', 'pass_yds_off', 'rush_yds_off',
       'to_off', 'first_down_def', 'yards_def', 'pass_yds_def', 'rush_yds_def',
       'to_def', 'result_tie', 'result_win']

for col in cols_to_shift:
    new_col = 'prev_' + col
    game_df[new_col] = game_df.groupby('team_year')[col].apply(lambda grp: grp.shift(1))

In [24]:
mask = game_df.team_year == 'chi-2019'
game_df[mask]

,team,year,date,team_year,opp,decade,week_num,game_day_of_week,game_outcome,team_record,pts_off,margin,pts_def,first_down_off,yards_off,pass_yds_off,rush_yds_off,to_off,first_down_def,yards_def,pass_yds_def,rush_yds_def,to_def,game_time,overtime,exp_pts_off,exp_pts_def,exp_pts_st,home,game_id,result_tie,result_win,wins,losses,ties,prev_wins,prev_losses,prev_ties,prev_pts_off,prev_pts_def,prev_margin,prev_first_down_off,prev_yards_off,prev_pass_yds_off,prev_rush_yds_off,prev_to_off,prev_first_down_def,prev_yards_def,prev_pass_yds_def,prev_rush_yds_def,prev_to_def,prev_result_tie,prev_result_win
4819,chi,2019,2019-09-05,chi-2019,gnb,201,1,Thu,L,0-1,3.0,-7.0,10.0,16.0,254.0,208.0,46.0,1.0,13.0,213.0,166.0,47.0,NaN,8.0,NaN,-20.0,9.0,-2.0,1,chi-gnb-2019-09-05,0,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4820,chi,2019,2019-09-15,chi-2019,den,201,2,Sun,W,1-1,16.0,2.0,14.0,18.0,273.0,120.0,153.0,NaN,27.0,372.0,282.0,90.0,1.0,4.0,NaN,4.0,-4.0,5.0,0,chi-den-2019-09-15,0,1,1,1,0,0,1,0,3.0,10.0,-7.0,16.0,254.0,208.0,46.0,1.0,13.0,213.0,166.0,47.0,NaN,0.0,0.0
4821,chi,2019,2019-09-23,chi-2019,was,201,3,Mon,W,2-1,31.0,16.0,15.0,21.0,298.0,208.0,90.0,1.0,25.0,356.0,287.0,69.0,5.0,8.0,NaN,9.0,11.0,-3.0,0,chi-was-2019-09-23,0,1,2,1,0,1,1,0,16.0,14.0,2.0,18.0,273.0,120.0,153.0,NaN,27.0,372.0,282.0,90.0,1.0,0.0,1.0
4822,chi,2019,2019-09-29,chi-2019,min,201,4,Sun,W,3-1,16.0,10.0,6.0,17.0,269.0,197.0,72.0,NaN,15.0,222.0,182.0,40.0,2.0,4.0,NaN,-2.0,10.0,1.0,1,chi-min-2019-09-29,0,1,3,1,0,2,1,0,31.0,15.0,16.0,21.0,298.0,208.0,90.0,1.0,25.0,356.0,287.0,69.0,5.0,0.0,1.0
4823,chi,2019,2019-10-06,chi-2019,rai,201,5,Sun,L,3-2,21.0,-3.0,24.0,15.0,236.0,194.0,42.0,2.0,25.0,398.0,229.0,169.0,2.0,1.0,NaN,-3.0,-2.0,-0.0,0,chi-rai-2019-10-06,0,0,3,2,0,3,1,0,16.0,6.0,10.0,17.0,269.0,197.0,72.0,NaN,15.0,222.0,182.0,40.0,2.0,0.0,1.0
4825,chi,2019,2019-10-20,chi-2019,nor,201,7,Sun,L,3-3,25.0,-11.0,36.0,16.0,252.0,235.0,17.0,2.0,24.0,424.0,273.0,151.0,NaN,4.0,NaN,-12.0,-13.0,10.0,1,chi-nor-2019-10-20,0,0,3,3,0,3,2,0,21.0,24.0,-3.0,15.0,236.0,194.0,42.0,2.0,25.0,398.0,229.0,169.0,2.0,0.0,0.0
4826,chi,2019,2019-10-27,chi-2019,sdg,201,8,Sun,L,3-4,16.0,-1.0,17.0,26.0,388.0,226.0,162.0,2.0,11.0,231.0,195.0,36.0,1.0,1.0,NaN,0.0,5.0,-6.0,1,chi-sdg-2019-10-27,0,0,3,4,0,3,3,0,25.0,36.0,-11.0,16.0,252.0,235.0,17.0,2.0,24.0,424.0,273.0,151.0,NaN,0.0,0.0
4827,chi,2019,2019-11-03,chi-2019,phi,201,9,Sun,L,3-5,14.0,-8.0,22.0,10.0,164.0,102.0,62.0,1.0,26.0,373.0,227.0,146.0,NaN,1.0,NaN,-4.0,-10.0,2.0,0,chi-phi-2019-11-03,0,0,3,5,0,3,4,0,16.0,17.0,-1.0,26.0,388.0,226.0,162.0,2.0,11.0,231.0,195.0,36.0,1.0,0.0,0.0
4828,chi,2019,2019-11-10,chi-2019,det,201,10,Sun,W,4-5,20.0,7.0,13.0,13.0,226.0,145.0,81.0,NaN,21.0,357.0,259.0,98.0,1.0,1.0,NaN,-0.0,6.0,-2.0,1,chi-det-2019-11-10,0,1,4,5,0,3,5,0,14.0,22.0,-8.0,10.0,164.0,102.0,62.0,1.0,26.0,373.0,227.0,146.0,NaN,0.0,0.0
4829,chi,2019,2019-11-17,chi-2019,ram,201,11,Sun,L,4-6,7.0,-10.0,17.0,17.0,267.0,193.0,74.0,1.0,13.0,283.0,173.0,110.0,2.0,8.0,NaN,-13.0,5.0,-5.0,0,chi-ram-2019-11-17,0,0,4,6,0,4,5,0,20.0,13.0,7.0,13.0,226.0,145.0,81.0,NaN,21.0,357.0,259.0,98.0,1.0,0.0,1.0
4830,chi,2019,2019-11-24,chi-2019,nyg,201,12,Sun,W,5-6,19.0,5.0,14.0,20.0,335.0,270.0,65.0,2.0,14.0,243.0,134.0,109.0,1.0,1.0,NaN,-7.0,12.0,-2.0,1,chi-nyg-2019-11-24,0,1,5,6,0,4,6,0,7.0,17.0,-10.0,17.0,267.0,193.0,74.0,1.0,13.0,283.0,173.0,110.0,2.0,0.0,0.0
4831,chi,2019,2019-11-28,chi-2019,det,201,13,Thu,W,6-6,24.0,4.0,20.0,22.0,419.0,331.0,88.0,1.0,19.0,364.0,259.0,105.0,1.0,12.0,NaN,8.0,-6.0,0.0,0,chi-det-2019-11-28,0,1,6,6,0,5,6,0,19.0,14.0,5.0,20.0,335.0,270.0,65.0,2.0,14.0,243.0,134.0,109.0,1.0,0.0,1.0
4832,chi,2019,2019-12-05,chi-2019,dal,201,14,Thu,W,7-6,31.0,7.0,24.0,24.0,382.0,231.0,151.0,2.0,22.0,408.0,326.0,82.0,NaN,8.0,NaN,10.0,-10.0,8.0,1,chi-dal-2019-12-05,0,1,7,6,0,6,6,0,24.0,20.0,4.0,22.0,419.0,331.0,88.0,1.0,19.0,364.0,259.0,105.0,1.0,0.0,1.0
4833,chi,2019,2019-12-15,chi-2019,gnb,201,15,Sun,L,7-7,13.0,-8.0,21.0,20.0,415.0,319.0,96.0,3.0,12.0,292.0,192.0,100.0,NaN,1.0,NaN,-4.0,2.0,-1.0,0,chi-gnb-2019-12-15,0,0,7,7,0,7,6,0,31.0,24.0,7.0,24.0,382.0,231.0,151.0,2.0,22.0,408.0,326.0,82.0,NaN,0.0,1.0
4834,chi,2019,2019-12-22,chi-2019,kan,201,16,Sun,L,7-8,3.0,-23.0,26.0,18.0,234.0,133.0,101.0,NaN,25.0,350.0,244.0,106.0,NaN,8.0,NaN,-6.0,-14.0,-1.0,1,chi-kan-2019-12-22,0,0,7,8,0,7,7,0,13.0,21.0,-8.0,20.0,415.0,319.0,96.0,3.0,12.0,292.0,192.0,100.0,NaN,0.0,0.0
4835,chi,2019,2019-12-29,chi-2019,min,201,17,Sun,W,8-8,21.0,2.0,19.0,24.0,337.0,179.0,158.0,1.0,14.0,300.0,126.0,174.0,3.0,1.0,NaN,1.0,-2.0,-1.0,0,chi-min-2019-12-29,0,1,8,8,0,7,8,0,3.0,26.0,-23.0,18.0,234.0,133.0,101.0,NaN,25.0,350.0,244.0,106.0,NaN,0.0,0.0

In [25]:
# create rolling three feature for these stats:
# using margin instead of wins here... if we want to get num wins in last three weeks,
#  will need to do differently using sum instead of mean

roll_cols = ['pts_off', 'pts_def', 'margin', 'first_down_off', 'yards_off',
             'pass_yds_off', 'rush_yds_off', 'to_off', 'yards_def', 'pass_yds_def',
             'rush_yds_def', 'to_def', 'exp_pts_off', 'exp_pts_def', 'exp_pts_st']

In [26]:
roll3_cols = ['roll3_' + col_name for col_name in roll_cols]

game_df[roll3_cols] = (game_df.groupby('team_year')[roll_cols]
                      .transform(lambda x: round(x.shift(1).rolling(3).mean(), 3)))

In [27]:
# get rolling wins (sum)

rolling_wins = (game_df.groupby('team_year')['result_win']
                      .transform(lambda x: round(x.shift(1).rolling(3).sum(), 3)))

game_df.insert(loc=38, column='roll3_wins', value=rolling_wins)

rolling_ties = (game_df.groupby('team_year')['result_win']
                      .transform(lambda x: round(x.shift(1).rolling(3).sum(), 3)))

game_df.insert(loc=38, column='roll3_ties', value=rolling_ties)

Now let's add more columns with **Expontentially Weighted Moving Averages (EWMA)** of our stats. This is similar to taking a rolling mean of a team's previous 6 performances, but EWMA weights the most recent game in the window much higher than the week before that, and so on.

For this, we will use a 3-16 week span (greedy). My hypothesis is that the most recent performances are the best predictors, and this should help further quantify recent performance.

In [28]:
# add ewma cols

ewma_cols = ['ewma_' + col_name for col_name in roll_cols]

game_df[ewma_cols] = (game_df.groupby('team_year')[roll_cols]
                      .transform(lambda x: round(x.shift(1).ewm(span=16, min_periods=3).mean(), 3)))

In [29]:
mask = game_df.team_year == 'nor-2014'
game_df[mask][['week_num', 'team', 'pass_yds_off', 'prev_pass_yds_off', 'ewma_pass_yds_off', 'roll3_pass_yds_off']].head(18)

,week_num,team,pass_yds_off,prev_pass_yds_off,ewma_pass_yds_off,roll3_pass_yds_off
17457,1,nor,333.0,NaN,NaN,NaN
17458,2,nor,223.0,333.0,NaN,NaN
17459,3,nor,288.0,223.0,NaN,NaN
17460,4,nor,334.0,288.0,279.612,281.333
17461,5,nor,371.0,334.0,295.858,281.667
17463,7,nor,335.0,371.0,314.862,331.000
17464,8,nor,302.0,335.0,319.348,346.667
17465,9,nor,270.0,302.0,315.851,336.000
17466,10,nor,287.0,270.0,307.324,302.333
17467,11,nor,255.0,287.0,303.786,286.333
17468,12,nor,399.0,255.0,295.747,270.667
17469,13,nor,250.0,399.0,311.995,313.667
17470,14,nor,218.0,250.0,302.612,301.333
17471,15,nor,360.0,218.0,290.223,289.000
17472,16,nor,271.0,360.0,300.154,276.000
17473,17,nor,268.0,271.0,296.105,283.000

In [30]:
np.mean([197, 120, 208])

175.0

Looks good!!

# The below did not work. It's only here for my reference...please ignore.

Cool! Now we can write a function that we can apply to each row of the dataframe, populating these new columns that we're looking for.

Let's pull the same stats that we used for our rolling stats (including win counts).

In [ ]:
def apply_opp_stats(row):
        """
            This function will be used with df.apply() to add the new columns.
        """

        # filter the DF to get the row with the opposing team's stats at the same point in time
#         print(row)
        search_team = row['opp']
        search_opp = row['team']
        search_date = str(row['date'])
        game_id_string = search_team + '-' + search_opp + '-' + search_date
        try:
            val = df.loc[df['game_id'] == game_id_string, pull_col].iloc[0]
            return val
        except:
            pass

In [ ]:
def get_opp_stats(df, cols):
    """ 
        This function takes a row & and pulls the opposing team's rolling stats,
        adding them back into the same row with new columns.

        For example: team: 'chi', opp: 'det'
            - this function pulls Detriot Lions
              stats and adds them to the row, which will help with prediction.

        Parameters:
            - df 
            - cols (list of strings): the columns that will be pulled from the opponent's latest record

        Returns the dataFrame including the new columns.
    """
    
    for col in cols:
        new_col = 'opp_' + col
        df[new_col] = df.apply(apply_opp_stats, axis=1)
    
    return df

In [ ]:
cols_to_shift = ['prev_wins', 'prev_losses', 'prev_pts_off',
       'prev_pts_def', 'roll3_ties', 'roll3_wins', 'prev_margin',
       'prev_first_down_off', 'prev_yards_off', 'prev_pass_yds_off',
       'prev_rush_yds_off', 'prev_to_off', 'prev_first_down_def',
       'prev_yards_def', 'prev_pass_yds_def', 'prev_rush_yds_def',
       'prev_to_def', 'prev_result_tie', 'prev_result_win', 'roll3_pts_off',
       'roll3_pts_def', 'roll3_margin', 'roll3_first_down_off',
       'roll3_yards_off', 'roll3_pass_yds_off', 'roll3_rush_yds_off',
       'roll3_to_off', 'roll3_yards_def', 'roll3_pass_yds_def',
       'roll3_rush_yds_def', 'roll3_to_def', 'roll3_exp_pts_off',
       'roll3_exp_pts_def', 'roll3_exp_pts_st', 'ewma_pts_off', 'ewma_pts_def',
       'ewma_margin', 'ewma_first_down_off', 'ewma_yards_off',
       'ewma_pass_yds_off', 'ewma_rush_yds_off', 'ewma_to_off',
       'ewma_yards_def', 'ewma_pass_yds_def', 'ewma_rush_yds_def',
       'ewma_to_def', 'ewma_exp_pts_off', 'ewma_exp_pts_def',
       'ewma_exp_pts_st']

In [ ]:
test = get_opp_stats(df=game_df, cols=cols_to_shift)

In [ ]:
test.sample(10)