In [1]:
import pandas as pd
import numpy as np

from clean import clean_games

In [2]:
game_df = clean_games("data/games_scraped.pickle")

In [3]:
pd.set_option("display.max_columns", 101)
pd.set_option("display.max_rows", 73)

In [4]:
mask = (game_df.game_id == 'chi-gnb-1960-12-04')
game_df[mask][['game_id', 'team', 'opp', 'prev_rush_yds_off',
                 'prev_rush_yds_off_opp', 'roll3_margin', 'roll3_margin_opp']]

,game_id,team,opp,prev_rush_yds_off,prev_rush_yds_off_opp,roll3_margin,roll3_margin_opp
2946,chi-gnb-1960-12-04,chi,gnb,221.0,118.0,9.000,6.333
7479,chi-gnb-1960-12-04,gnb,chi,118.0,221.0,6.333,9.000