In [90]:
import numpy as np
import pandas as pd
import pickle

In [91]:
pd.set_option("display.max_columns", 101)
pd.set_option("display.max_rows", 300)

In [92]:
game_df = pd.read_pickle('data/games.pickle')

In [93]:
game_df.shape

(34, 37)

In [94]:
game_df.columns

Index(['season_year', 'week_num', 'full_game_date', 'team', 'opp',
       'game_day_of_week', 'game_date', 'game_outcome', 'pts_off', 'pts_def',
       'pass_cmp', 'pass_att', 'pass_yds', 'pass_td', 'pass_int',
       'pass_sacked', 'pass_sacked_yds', 'pass_yds_per_att',
       'pass_net_yds_per_att', 'pass_cmp_perc', 'pass_rating', 'rush_att',
       'rush_yds', 'rush_yds_per_att', 'rush_td', 'fgm', 'fga', 'xpm', 'xpa',
       'punt', 'punt_yds', 'third_down_success', 'third_down_att',
       'fourth_down_success', 'fourth_down_att', 'time_of_poss',
       'game_location'],
      dtype='object')

In [95]:
game_df.drop(
        columns=[
            "pass_net_yds_per_att",
            "xpm",
            "xpa",
            "punt",
            "punt_yds",
            "game_day_of_week",
            "game_day_of_week_def",
            "game_date_def",
            "game_date",
            "game_outcome_def",
            "pts_off_def",
            "pts_def_def",
            "pass_net_yds_per_att_def",
            "xpm_def",
            "xpa_def",
            "punt_def",
            "punt_yds_def",
            "time_of_poss_def",
            "game_location_def",
            "overtime_def",
        ],
        axis=1,
        inplace=True,
    )

KeyError: "['game_day_of_week_def' 'game_date_def' 'game_outcome_def' 'pts_off_def'\n 'pts_def_def' 'pass_net_yds_per_att_def' 'xpm_def' 'xpa_def' 'punt_def'\n 'punt_yds_def' 'time_of_poss_def' 'game_location_def' 'overtime_def'] not found in axis"

In [57]:
game_df.shape

(2670, 51)

In [58]:
for row in game_df.info():
    print(row)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2670 entries, 0 to 2669
Data columns (total 51 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   season_year              2670 non-null   int64
 1   week_num                 2670 non-null   float64
 2   full_game_date           2670 non-null   datetime64[ns]
 3   team                     2670 non-null   object
 4   opp                      2618 non-null   object
 5   game_outcome             2658 non-null   object
 6   pts_off                  2658 non-null   float64
 7   pts_def                  2658 non-null   float64
 8   pass_cmp                 2658 non-null   float64
 9   pass_att                 2658 non-null   float64
 10  pass_yds                 2658 non-null   float64
 11  pass_td                  2658 non-null   float64
 12  pass_int                 2658 non-null   float64
 13  pass_sacked              2658 non-null   float64
 14  pass_sacked_yds          2658 non-null   float64
 15  pass_yds_per_att         2658 non-null   float64
 16  pass_cmp_perc            2658 non-null   float64
 17  pass_rating              2658 non-null   float64
 18  rush_att                 2658 non-null   float64
 19  rush_yds                 2658 non-null   object
 20  rush_yds_per_att         2658 non-null   object
 21  rush_td                  2658 non-null   float64
 22  fgm                      2658 non-null   float64
 23  fga                      2658 non-null   float64
 24  time_of_poss             2475 non-null   object
 25  pass_cmp_def             2284 non-null   float64
 26  pass_att_def             2284 non-null   float64
 27  pass_yds_def             2284 non-null   float64
 28  pass_td_def              2284 non-null   float64
 29  pass_int_def             2284 non-null   float64
 30  pass_sacked_def          2284 non-null   float64
 31  pass_sacked_yds_def      2284 non-null   float64
 32  pass_yds_per_att_def     2284 non-null   float64
 33  pass_cmp_perc_def        2284 non-null   float64
 34  pass_rating_def          2284 non-null   float64
 35  rush_att_def             2284 non-null   float64
 36  rush_yds_def             2284 non-null   object
 37  rush_yds_per_att_def     2284 non-null   object
 38  rush_td_def              2284 non-null   float64
 39  fgm_def                  2284 non-null   float64
 40  fga_def                  2284 non-null   float64
 41  game_location            1590 non-null   object
 42  third_down_success       2395 non-null   float64
 43  third_down_att           2395 non-null   float64
 44  fourth_down_success      2395 non-null   float64
 45  fourth_down_att          2395 non-null   float64
 46  third_down_success_def   2033 non-null   float64
 47  third_down_att_def       2033 non-null   float64
 48  fourth_down_success_def  2033 non-null   float64
 49  fourth_down_att_def      2033 non-null   float64
 50  overtime                 159 non-null    object
dtypes: datetime64[ns](1), float64(39), int64(1), object(10)
memory usage: 1.0+ MB

TypeError: 'NoneType' object is not iterable

In [59]:
game_df.columns

Index(['season_year', 'week_num', 'full_game_date', 'team', 'opp',
       'game_outcome', 'pts_off', 'pts_def', 'pass_cmp', 'pass_att',
       'pass_yds', 'pass_td', 'pass_int', 'pass_sacked', 'pass_sacked_yds',
       'pass_yds_per_att', 'pass_cmp_perc', 'pass_rating', 'rush_att',
       'rush_yds', 'rush_yds_per_att', 'rush_td', 'fgm', 'fga', 'time_of_poss',
       'pass_cmp_def', 'pass_att_def', 'pass_yds_def', 'pass_td_def',
       'pass_int_def', 'pass_sacked_def', 'pass_sacked_yds_def',
       'pass_yds_per_att_def', 'pass_cmp_perc_def', 'pass_rating_def',
       'rush_att_def', 'rush_yds_def', 'rush_yds_per_att_def', 'rush_td_def',
       'fgm_def', 'fga_def', 'game_location', 'third_down_success',
       'third_down_att', 'fourth_down_success', 'fourth_down_att',
       'third_down_success_def', 'third_down_att_def',
       'fourth_down_success_def', 'fourth_down_att_def', 'overtime'],
      dtype='object')

In [60]:
game_df.sample(10)

,season_year,week_num,full_game_date,team,opp,game_outcome,pts_off,pts_def,pass_cmp,pass_att,pass_yds,pass_td,pass_int,pass_sacked,pass_sacked_yds,pass_yds_per_att,pass_cmp_perc,pass_rating,rush_att,rush_yds,rush_yds_per_att,rush_td,fgm,fga,time_of_poss,pass_cmp_def,pass_att_def,pass_yds_def,pass_td_def,pass_int_def,pass_sacked_def,pass_sacked_yds_def,pass_yds_per_att_def,pass_cmp_perc_def,pass_rating_def,rush_att_def,rush_yds_def,rush_yds_per_att_def,rush_td_def,fgm_def,fga_def,game_location,third_down_success,third_down_att,fourth_down_success,fourth_down_att,third_down_success_def,third_down_att_def,fourth_down_success_def,fourth_down_att_def,overtime
285,1993,18.0,1994-01-02,nor,cin,W,20.0,13.0,15.0,27.0,193.0,2.0,1.0,0.0,0.0,7.0,55.0,87.0,30.0,76.0,2.0,0.0,2.0,3.0,29:39,15.0,27.0,193.0,2.0,1.0,0.0,0.0,7.0,55.0,87.0,30.0,76.0,2.0,0.0,2.0,3.0,NaN,6.0,13.0,0.0,0.0,6.0,13.0,0.0,0.0,NaN
946,2001,18.0,2002-01-13,mia,rav,L,3.0,20.0,15.0,28.0,105.0,0.0,1.0,3.0,17.0,4.0,53.0,47.0,15.0,46.0,3.0,0.0,1.0,1.0,22:06,15.0,28.0,105.0,0.0,1.0,3.0,17.0,4.0,53.0,47.0,15.0,46.0,3.0,0.0,1.0,1.0,NaN,3.0,11.0,0.0,1.0,3.0,11.0,0.0,1.0,NaN
1660,2009,17.0,2010-01-03,nwe,htx,L,27.0,34.0,25.0,38.0,243.0,0.0,1.0,2.0,14.0,6.0,65.0,72.0,19.0,74.0,3.0,2.0,2.0,2.0,28:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,@,4.0,10.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN
2662,2020,17.0,2021-01-03,oti,htx,W,41.0,38.0,18.0,27.0,204.0,1.0,0.0,2.0,12.0,8.0,66.0,101.0,41.0,288.0,7.0,4.0,2.0,2.0,31:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,@,7.0,10.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN
2642,2020,17.0,2021-01-03,pit,cle,L,22.0,24.0,26.0,44.0,309.0,2.0,1.0,1.0,8.0,7.0,59.0,86.0,20.0,85.0,4.0,0.0,3.0,3.0,27:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,@,8.0,17.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN
412,1995,17.0,1995-12-24,chi,phi,W,20.0,14.0,15.0,30.0,169.0,2.0,1.0,0.0,0.0,5.0,50.0,75.0,47.0,181.0,3.0,0.0,2.0,4.0,39:31,15.0,30.0,169.0,2.0,1.0,0.0,0.0,5.0,50.0,75.0,47.0,181.0,3.0,0.0,2.0,4.0,NaN,9.0,16.0,2.0,2.0,9.0,16.0,2.0,2.0,NaN
2117,2014,17.0,2014-12-28,phi,nyg,W,34.0,26.0,23.0,36.0,262.0,2.0,1.0,4.0,30.0,8.0,63.0,92.0,32.0,164.0,5.0,1.0,2.0,2.0,25:23,23.0,36.0,262.0,2.0,1.0,4.0,30.0,8.0,63.0,92.0,32.0,164.0,5.0,1.0,2.0,2.0,@,7.0,16.0,0.0,0.0,7.0,16.0,0.0,0.0,NaN
1697,2009,17.0,2010-01-03,was,sdg,L,20.0,23.0,28.0,42.0,275.0,2.0,0.0,1.0,6.0,6.0,66.0,100.0,22.0,66.0,3.0,0.0,2.0,2.0,32:33,28.0,42.0,275.0,2.0,0.0,1.0,6.0,6.0,66.0,100.0,22.0,66.0,3.0,0.0,2.0,2.0,@,8.0,16.0,0.0,1.0,8.0,16.0,0.0,1.0,NaN
2644,2020,18.0,2021-01-10,pit,cle,L,37.0,48.0,47.0,68.0,501.0,4.0,4.0,0.0,0.0,7.0,69.0,85.0,16.0,52.0,3.0,1.0,1.0,1.0,32:46,47.0,68.0,501.0,4.0,4.0,0.0,0.0,7.0,69.0,85.0,16.0,52.0,3.0,1.0,1.0,1.0,NaN,8.0,15.0,3.0,3.0,8.0,15.0,3.0,3.0,NaN
2104,2014,17.0,2014-12-28,nwe,buf,L,9.0,17.0,18.0,33.0,144.0,0.0,0.0,4.0,26.0,5.0,54.0,65.0,25.0,116.0,4.0,0.0,3.0,3.0,30:57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,15.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN

In [61]:
mask = (game_df.team == 'chi') & (game_df.season_year == 2019)
game_df[mask]

,season_year,week_num,full_game_date,team,opp,game_outcome,pts_off,pts_def,pass_cmp,pass_att,pass_yds,pass_td,pass_int,pass_sacked,pass_sacked_yds,pass_yds_per_att,pass_cmp_perc,pass_rating,rush_att,rush_yds,rush_yds_per_att,rush_td,fgm,fga,time_of_poss,pass_cmp_def,pass_att_def,pass_yds_def,pass_td_def,pass_int_def,pass_sacked_def,pass_sacked_yds_def,pass_yds_per_att_def,pass_cmp_perc_def,pass_rating_def,rush_att_def,rush_yds_def,rush_yds_per_att_def,rush_td_def,fgm_def,fga_def,game_location,third_down_success,third_down_att,fourth_down_success,fourth_down_att,third_down_success_def,third_down_att_def,fourth_down_success_def,fourth_down_att_def,overtime
2504,2019,17.0,2019-12-29,chi,min,W,21.0,19.0,26.0,37.0,179.0,0.0,0.0,4.0,28.0,5.0,70.0,80.0,34.0,158.0,4.0,1.0,4.0,4.0,37:40,26.0,37.0,179.0,0.0,0.0,4.0,28.0,5.0,70.0,80.0,34.0,158.0,4.0,1.0,4.0,4.0,@,7.0,16.0,1.0,2.0,7.0,16.0,1.0,2.0,NaN
2505,2019,17.0,2019-12-29,chi,min,W,21.0,19.0,26.0,37.0,179.0,0.0,0.0,4.0,28.0,5.0,70.0,80.0,34.0,158.0,4.0,1.0,4.0,4.0,37:40,26.0,37.0,179.0,0.0,0.0,4.0,28.0,5.0,70.0,80.0,34.0,158.0,4.0,1.0,4.0,4.0,@,7.0,16.0,1.0,2.0,7.0,16.0,1.0,2.0,NaN

In [62]:
# clean the game_location column & apply change. def home_game(row):
def home_game(row):    
    if row == '@':
        return 0
    return 1

game_df['team_home_game'] = game_df.game_location.apply(home_game)
game_df.drop("game_location", axis=1, errors='ignore', inplace=True)

In [63]:
# add team_year identifier to each row (to easily groupby team/year)

team_years = game_df['team'] + '-' +  game_df['season_year'].astype(str) 
game_df.insert(loc=2, column='team_year', value=team_years)
game_df.sample()

,season_year,week_num,team_year,full_game_date,team,opp,game_outcome,pts_off,pts_def,pass_cmp,pass_att,pass_yds,pass_td,pass_int,pass_sacked,pass_sacked_yds,pass_yds_per_att,pass_cmp_perc,pass_rating,rush_att,rush_yds,rush_yds_per_att,rush_td,fgm,fga,time_of_poss,pass_cmp_def,pass_att_def,pass_yds_def,pass_td_def,pass_int_def,pass_sacked_def,pass_sacked_yds_def,pass_yds_per_att_def,pass_cmp_perc_def,pass_rating_def,rush_att_def,rush_yds_def,rush_yds_per_att_def,rush_td_def,fgm_def,fga_def,third_down_success,third_down_att,fourth_down_success,fourth_down_att,third_down_success_def,third_down_att_def,fourth_down_success_def,fourth_down_att_def,overtime,team_home_game
51,1990,20.0,rai-1990,1991-01-20,rai,buf,L,3.0,51.0,15.0,39.0,169.0,0.0,6.0,1.0,7.0,4.0,38.0,12.0,28.0,151.0,5.0,0.0,1.0,1.0,28:25,15.0,39.0,169.0,0.0,6.0,1.0,7.0,4.0,38.0,12.0,28.0,151.0,5.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

Datetime formatting strings:

- ``%B`` month fullname
- ``%-d`` day of month without leading zero\*
    - \*note: the ``-`` only works on Linux/OS-X...for windows replace with '#'
- ``%Y`` full year

In [64]:
# convert game date to datetime & add new column to DF


# f = r"%B %d-%Y"
# full_game_date = game_df.game_date + '-' + game_df.year.astype(str)
# full_game_date = pd.to_datetime(full_game_date, format=f)
# game_df.insert(loc=2, column='date', value=full_game_date)
# game_df.sample(3)

In [65]:
# now drop the game_date col
game_df.drop("game_date", axis=1, inplace=True, errors='ignore')
game_df.sample(2) # to confirm

,season_year,week_num,team_year,full_game_date,team,opp,game_outcome,pts_off,pts_def,pass_cmp,pass_att,pass_yds,pass_td,pass_int,pass_sacked,pass_sacked_yds,pass_yds_per_att,pass_cmp_perc,pass_rating,rush_att,rush_yds,rush_yds_per_att,rush_td,fgm,fga,time_of_poss,pass_cmp_def,pass_att_def,pass_yds_def,pass_td_def,pass_int_def,pass_sacked_def,pass_sacked_yds_def,pass_yds_per_att_def,pass_cmp_perc_def,pass_rating_def,rush_att_def,rush_yds_def,rush_yds_per_att_def,rush_td_def,fgm_def,fga_def,third_down_success,third_down_att,fourth_down_success,fourth_down_att,third_down_success_def,third_down_att_def,fourth_down_success_def,fourth_down_att_def,overtime,team_home_game
2251,2016,18.0,det-2016,2017-01-07,det,sea,L,6.0,26.0,18.0,32.0,182.0,0.0,0.0,3.0,23.0,6.0,56.0,72.0,15.0,49.0,3.0,0.0,2.0,2.0,23:21,18.0,32.0,182.0,0.0,0.0,3.0,23.0,6.0,56.0,72.0,15.0,49.0,3.0,0.0,2.0,2.0,2.0,11.0,0.0,2.0,2.0,11.0,0.0,2.0,NaN,0
706,1998,17.0,nor-1998,1998-12-27,nor,buf,L,33.0,45.0,26.0,54.0,291.0,3.0,2.0,4.0,28.0,5.0,48.0,67.0,19.0,75.0,3.0,2.0,0.0,0.0,30:37,26.0,54.0,291.0,3.0,2.0,4.0,28.0,5.0,48.0,67.0,19.0,75.0,3.0,2.0,0.0,0.0,10.0,18.0,1.0,2.0,10.0,18.0,1.0,2.0,NaN,1

In [66]:
# add decade column
decades = game_df['season_year'] // 10
game_df.insert(loc=5, column='decade', value=decades)
game_df[['full_game_date', 'decade']].sample(10)

     full_game_date  decade
927      2002-01-06     200
2276     2017-01-01     201
2272     2017-01-08     201
1000     2002-12-29     200
1970     2013-12-29     201
2527     2019-12-29     201
1523     2009-02-01     200
471      1996-01-06     199
970      2002-01-06     200
1314     2006-01-08     200

In [67]:
# add unique game identifier that will be the same for both teams in the same game


def apply_game_id(row):
    teams = []
    teams.append(str(row['team']))
    teams.append(str(row['opp']))
    teams.sort()
    
    game_id = teams[0] + '-' +  teams[1] + '-' + str(row['full_game_date'])[:-9]
    return game_id

In [68]:
game_ids = game_df.apply(apply_game_id, axis=1)
game_df.insert(loc=0, column='game_id', value=game_ids)

In [69]:
game_df

,game_id,season_year,week_num,team_year,full_game_date,team,decade,opp,game_outcome,pts_off,pts_def,pass_cmp,pass_att,pass_yds,pass_td,pass_int,pass_sacked,pass_sacked_yds,pass_yds_per_att,pass_cmp_perc,pass_rating,rush_att,rush_yds,rush_yds_per_att,rush_td,fgm,fga,time_of_poss,pass_cmp_def,pass_att_def,pass_yds_def,pass_td_def,pass_int_def,pass_sacked_def,pass_sacked_yds_def,pass_yds_per_att_def,pass_cmp_perc_def,pass_rating_def,rush_att_def,rush_yds_def,rush_yds_per_att_def,rush_td_def,fgm_def,fga_def,third_down_success,third_down_att,fourth_down_success,fourth_down_att,third_down_success_def,third_down_att_def,fourth_down_success_def,fourth_down_att_def,overtime,team_home_game
0,crd-phi-1990-12-29,1990,17.0,crd-1990,1990-12-29,crd,199,phi,L,21.0,23.0,19.0,31.0,264.0,3.0,1.0,5.0,37.0,9.0,61.0,107.0,24.0,73.0,3.0,0.0,0.0,0.0,28:58,19.0,31.0,264.0,3.0,1.0,5.0,37.0,9.0,61.0,107.0,24.0,73.0,3.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,crd-phi-1990-12-29,1990,17.0,crd-1990,1990-12-29,crd,199,phi,L,21.0,23.0,19.0,31.0,264.0,3.0,1.0,5.0,37.0,9.0,61.0,107.0,24.0,73.0,3.0,0.0,0.0,0.0,28:58,19.0,31.0,264.0,3.0,1.0,5.0,37.0,9.0,61.0,107.0,24.0,73.0,3.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,atl-dal-1990-12-30,1990,17.0,atl-1990,1990-12-30,atl,199,dal,W,26.0,7.0,10.0,15.0,59.0,0.0,0.0,4.0,22.0,5.0,66.0,74.0,46.0,184.0,4.0,1.0,1.0,2.0,37:02,10.0,15.0,59.0,0.0,0.0,4.0,22.0,5.0,66.0,74.0,46.0,184.0,4.0,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,atl-dal-1990-12-30,1990,17.0,atl-1990,1990-12-30,atl,199,dal,W,26.0,7.0,10.0,15.0,59.0,0.0,0.0,4.0,22.0,5.0,66.0,74.0,46.0,184.0,4.0,1.0,1.0,2.0,37:02,10.0,15.0,59.0,0.0,0.0,4.0,22.0,5.0,66.0,74.0,46.0,184.0,4.0,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,buf-was-1990-12-30,1990,17.0,buf-1990,1990-12-30,buf,199,was,L,14.0,29.0,15.0,29.0,168.0,2.0,2.0,3.0,26.0,6.0,51.0,63.0,23.0,105.0,4.0,0.0,0.0,0.0,26:01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2665,oti-rav-2021-01-10,2020,18.0,oti-2020,2021-01-10,oti,202,rav,L,13.0,20.0,18.0,26.0,158.0,1.0,1.0,1.0,7.0,6.0,69.0,81.0,22.0,51.0,2.0,0.0,2.0,2.0,26:22,18.0,26.0,158.0,1.0,1.0,1.0,7.0,6.0,69.0,81.0,22.0,51.0,2.0,0.0,2.0,2.0,4.0,12.0,1.0,1.0,4.0,12.0,1.0,1.0,NaN,1
2666,phi-was-2021-01-03,2020,17.0,was-2020,2021-01-03,was,202,phi,W,20.0,14.0,22.0,32.0,145.0,2.0,2.0,3.0,17.0,5.0,68.0,73.0,27.0,103.0,3.0,0.0,2.0,2.0,30:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,15.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0
2667,tam-was-2021-01-09,2020,18.0,was-2020,2021-01-09,was,202,tam,L,23.0,31.0,26.0,44.0,289.0,1.0,1.0,2.0,17.0,7.0,59.0,76.0,23.0,86.0,3.0,2.0,1.0,1.0,28:48,26.0,44.0,289.0,1.0,1.0,2.0,17.0,7.0,59.0,76.0,23.0,86.0,3.0,2.0,1.0,1.0,7.0,14.0,0.0,1.0,7.0,14.0,0.0,1.0,NaN,1
2668,tam-was-2021-01-09,2020,18.0,was-2020,2021-01-09,was,202,tam,L,23.0,31.0,26.0,44.0,289.0,1.0,1.0,2.0,17.0,7.0,59.0,76.0,23.0,86.0,3.0,2.0,1.0,1.0,28:48,26.0,44.0,289.0,1.0,1.0,2.0,17.0,7.0,59.0,76.0,23.0,86.0,3.0,2.0,1.0,1.0,7.0,14.0,0.0,1.0,7.0,14.0,0.0,1.0,NaN,1
2669,tam-was-2021-01-09,2020,18.0,was-2020,2021-01-09,was,202,tam,L,23.0,31.0,26.0,44.0,289.0,1.0,1.0,2.0,17.0,7.0,59.0,76.0,23.0,86.0,3.0,2.0,1.0,1.0,28:48,26.0,44.0,289.0,1.0,1.0,2.0,17.0,7.0,59.0,76.0,23.0,86.0,3.0,2.0,1.0,1.0,7.0,14.0,0.0,1.0,7.0,14.0,0.0,1.0,NaN,1

In [70]:
game_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2670 entries, 0 to 2669
Data columns (total 54 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   game_id                  2670 non-null   object
 1   season_year              2670 non-null   int64
 2   week_num                 2670 non-null   float64
 3   team_year                2670 non-null   object
 4   full_game_date           2670 non-null   datetime64[ns]
 5   team                     2670 non-null   object
 6   decade                   2670 non-null   int64
 7   opp                      2618 non-null   object
 8   game_outcome             2658 non-null   object
 9   pts_off                  2658 non-null   float64
 10  pts_def                  2658 non-null   float64
 11  pass_cmp                 2658 non-null   float64
 12  pass_att                 2658 non-null   float64
 13  pass_yds                 2658 non-null   float64
 14  pass_td                  2658 non-null   float64
 15  pass_int                 2658 non-null   float64
 16  pass_sacked              2658 non-null   float64
 17  pass_sacked_yds          2658 non-null   float64
 18  pass_yds_per_att         2658 non-null   float64
 19  pass_cmp_perc            2658 non-null   float64
 20  pass_rating              2658 non-null   float64
 21  rush_att                 2658 non-null   float64
 22  rush_yds                 2658 non-null   object
 23  rush_yds_per_att         2658 non-null   object
 24  rush_td                  2658 non-null   float64
 25  fgm                      2658 non-null   float64
 26  fga                      2658 non-null   float64
 27  time_of_poss             2475 non-null   object
 28  pass_cmp_def             2284 non-null   float64
 29  pass_att_def             2284 non-null   float64
 30  pass_yds_def             2284 non-null   float64
 31  pass_td_def              2284 non-null   float64
 32  pass_int_def             2284 non-null   float64
 33  pass_sacked_def          2284 non-null   float64
 34  pass_sacked_yds_def      2284 non-null   float64
 35  pass_yds_per_att_def     2284 non-null   float64
 36  pass_cmp_perc_def        2284 non-null   float64
 37  pass_rating_def          2284 non-null   float64
 38  rush_att_def             2284 non-null   float64
 39  rush_yds_def             2284 non-null   object
 40  rush_yds_per_att_def     2284 non-null   object
 41  rush_td_def              2284 non-null   float64
 42  fgm_def                  2284 non-null   float64
 43  fga_def                  2284 non-null   float64
 44  third_down_success       2395 non-null   float64
 45  third_down_att           2395 non-null   float64
 46  fourth_down_success      2395 non-null   float64
 47  fourth_down_att          2395 non-null   float64
 48  third_down_success_def   2033 non-null   float64
 49  third_down_att_def       2033 non-null   float64
 50  fourth_down_success_def  2033 non-null   float64
 51  fourth_down_att_def      2033 non-null   float64
 52  overtime                 159 non-null    object
 53  team_home_game           2670 non-null   int64
dtypes: datetime64[ns](1), float64(39), int64(3), object(11)
memory usage: 1.1+ MB

Alright, we need to fix a few things:

- remove rows missing 'opp' value
- convert the following cols to float:
    - pass_yds_per_att
    - pass_net_yds_per_att
    - rush_yds
    - rush_yds_per_att
    - convert overtime to boolean
    - convert time_of_poss to num

In [71]:
# remove missing 'opp' rows
game_df['opp'] = game_df.opp.astype(str)
game_df['opp'].replace({'nan': np.NaN}, inplace=True)
game_df.dropna(subset=['opp', 'game_outcome'], how='any', inplace=True)

In [72]:
game_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2606 entries, 0 to 2669
Data columns (total 54 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   game_id                  2606 non-null   object
 1   season_year              2606 non-null   int64
 2   week_num                 2606 non-null   float64
 3   team_year                2606 non-null   object
 4   full_game_date           2606 non-null   datetime64[ns]
 5   team                     2606 non-null   object
 6   decade                   2606 non-null   int64
 7   opp                      2606 non-null   object
 8   game_outcome             2606 non-null   object
 9   pts_off                  2606 non-null   float64
 10  pts_def                  2606 non-null   float64
 11  pass_cmp                 2606 non-null   float64
 12  pass_att                 2606 non-null   float64
 13  pass_yds                 2606 non-null   float64
 14  pass_td                  2606 non-null   float64
 15  pass_int                 2606 non-null   float64
 16  pass_sacked              2606 non-null   float64
 17  pass_sacked_yds          2606 non-null   float64
 18  pass_yds_per_att         2606 non-null   float64
 19  pass_cmp_perc            2606 non-null   float64
 20  pass_rating              2606 non-null   float64
 21  rush_att                 2606 non-null   float64
 22  rush_yds                 2606 non-null   object
 23  rush_yds_per_att         2606 non-null   object
 24  rush_td                  2606 non-null   float64
 25  fgm                      2606 non-null   float64
 26  fga                      2606 non-null   float64
 27  time_of_poss             2423 non-null   object
 28  pass_cmp_def             2243 non-null   float64
 29  pass_att_def             2243 non-null   float64
 30  pass_yds_def             2243 non-null   float64
 31  pass_td_def              2243 non-null   float64
 32  pass_int_def             2243 non-null   float64
 33  pass_sacked_def          2243 non-null   float64
 34  pass_sacked_yds_def      2243 non-null   float64
 35  pass_yds_per_att_def     2243 non-null   float64
 36  pass_cmp_perc_def        2243 non-null   float64
 37  pass_rating_def          2243 non-null   float64
 38  rush_att_def             2243 non-null   float64
 39  rush_yds_def             2243 non-null   object
 40  rush_yds_per_att_def     2243 non-null   object
 41  rush_td_def              2243 non-null   float64
 42  fgm_def                  2243 non-null   float64
 43  fga_def                  2243 non-null   float64
 44  third_down_success       2343 non-null   float64
 45  third_down_att           2343 non-null   float64
 46  fourth_down_success      2343 non-null   float64
 47  fourth_down_att          2343 non-null   float64
 48  third_down_success_def   1992 non-null   float64
 49  third_down_att_def       1992 non-null   float64
 50  fourth_down_success_def  1992 non-null   float64
 51  fourth_down_att_def      1992 non-null   float64
 52  overtime                 156 non-null    object
 53  team_home_game           2606 non-null   int64
dtypes: datetime64[ns](1), float64(39), int64(3), object(11)
memory usage: 1.1+ MB

In [76]:
game_df.dropna(subset=['third_down_success', 'third_down_att', 'fourth_down_success', 'fourth_down_att'], how='any', inplace=True)

game_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2343 entries, 80 to 2669
Data columns (total 54 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   game_id                  2343 non-null   object
 1   season_year              2343 non-null   int64
 2   week_num                 2343 non-null   float64
 3   team_year                2343 non-null   object
 4   full_game_date           2343 non-null   datetime64[ns]
 5   team                     2343 non-null   object
 6   decade                   2343 non-null   int64
 7   opp                      2343 non-null   object
 8   game_outcome             2343 non-null   object
 9   pts_off                  2343 non-null   float64
 10  pts_def                  2343 non-null   float64
 11  pass_cmp                 2343 non-null   float64
 12  pass_att                 2343 non-null   float64
 13  pass_yds                 2343 non-null   float64
 14  pass_td                  2343 non-null   float64
 15  pass_int                 2343 non-null   float64
 16  pass_sacked              2343 non-null   float64
 17  pass_sacked_yds          2343 non-null   float64
 18  pass_yds_per_att         2343 non-null   float64
 19  pass_cmp_perc            2343 non-null   float64
 20  pass_rating              2343 non-null   float64
 21  rush_att                 2343 non-null   float64
 22  rush_yds                 2343 non-null   object
 23  rush_yds_per_att         2343 non-null   object
 24  rush_td                  2343 non-null   float64
 25  fgm                      2343 non-null   float64
 26  fga                      2343 non-null   float64
 27  time_of_poss             2343 non-null   object
 28  pass_cmp_def             1992 non-null   float64
 29  pass_att_def             1992 non-null   float64
 30  pass_yds_def             1992 non-null   float64
 31  pass_td_def              1992 non-null   float64
 32  pass_int_def             1992 non-null   float64
 33  pass_sacked_def          1992 non-null   float64
 34  pass_sacked_yds_def      1992 non-null   float64
 35  pass_yds_per_att_def     1992 non-null   float64
 36  pass_cmp_perc_def        1992 non-null   float64
 37  pass_rating_def          1992 non-null   float64
 38  rush_att_def             1992 non-null   float64
 39  rush_yds_def             1992 non-null   object
 40  rush_yds_per_att_def     1992 non-null   object
 41  rush_td_def              1992 non-null   float64
 42  fgm_def                  1992 non-null   float64
 43  fga_def                  1992 non-null   float64
 44  third_down_success       2343 non-null   float64
 45  third_down_att           2343 non-null   float64
 46  fourth_down_success      2343 non-null   float64
 47  fourth_down_att          2343 non-null   float64
 48  third_down_success_def   1992 non-null   float64
 49  third_down_att_def       1992 non-null   float64
 50  fourth_down_success_def  1992 non-null   float64
 51  fourth_down_att_def      1992 non-null   float64
 52  overtime                 153 non-null    object
 53  team_home_game           2343 non-null   int64
dtypes: datetime64[ns](1), float64(39), int64(3), object(11)
memory usage: 1006.8+ KB

In [77]:
# now convert overtime col to binary
game_df['overtime'].fillna(0)

80       0
81       0
82       0
86      OT
90       0
        ..
2665     0
2666     0
2667     0
2668     0
2669     0
Name: overtime, Length: 2343, dtype: object

In [78]:
game_df.overtime.value_counts()

OT    153
Name: overtime, dtype: int64

In [80]:
game_df.game_outcome.value_counts()

L    1616
W     727
Name: game_outcome, dtype: int64

In [79]:
# convert game_outcome col to binary to avoid multicolinearity

game_df[['result_tie', 'result_win']] = pd.get_dummies(game_df.game_outcome, drop_first=True)
game_df.sample(10)

ValueError: Columns must be same length as key

Okay, almost there. Our ties are coming through, but we get NaNs for teams that haven't tied, so we'll need to replace those with zeros.

In [ ]:
# add 'margin' col
margins = game_df.pts_off - game_df.pts_def
game_df.insert(loc=11, column='margin', value=margins)
game_df[mask].head()

In [ ]:
# drop rows for bye weeks
game_df.dropna(axis=0, how='any', subset=['game_outcome'], inplace=True)

In [ ]:
mask = game_df['team_year'] == 'kan-2019'
game_df[mask]

In [ ]:
# add 'prev_week' cols

cols_to_shift = ['week_num', 'result_win', 'result_tie', 'margin']

for col in cols_to_shift:
    new_col = 'prev_' + col
    game_df[new_col] = game_df.groupby('team_year')[col].apply(lambda grp: grp.shift(1))

In [ ]:
# add 'off_bye' (boolean) col
    
def apply_off_bye(row):
    if row['week_num'] > 1: # playoff games have week_num = 0
        off_bye = row['week_num'] - row['prev_week_num'] == 2
    else:
        off_bye = False
    if off_bye == True:
        return 1
    return 0


game_df['off_bye'] = game_df[['week_num', 'prev_week_num']].apply(apply_off_bye, axis=1)

In [ ]:
mask = game_df.team_year == 'chi-2019'
game_df[mask]

In [ ]:
game_df.columns

In [ ]:
game_df.sort_values(['season_year', 'team', 'week_num'], inplace=True)

mask = (game_df['week_num'] == 1) & (game_df['team'] == 'chi')
game_df[mask]

In [ ]:
# create columns containing team's season totals heading into the game
roll_cols = ['pts_off', 'margin', 'pts_def', 'pass_cmp', 'pass_att', 'pass_yds', 'pass_td',
             'pass_int', 'pass_sacked', 'pass_sacked_yds', 'pass_yds_per_att', 'pass_net_yds_per_att',
             'pass_cmp_perc', 'pass_rating', 'rush_att', 'rush_yds', 'rush_yds_per_att', 'rush_td',
             'fgm', 'fga', 'xpm', 'xpa', 'punt', 'punt_yds', 'third_down_success', 'third_down_att',
             'fourth_down_success', 'fourth_down_att', 'team_home_game', 'result_tie', 'result_win']

In [ ]:
game_df[roll_cols].info()

In [ ]:
season_totals = ['sn_total_' + col_name for col_name in roll_cols]

game_df[season_totals] = (game_df.groupby('team_year')[roll_cols]
                      .transform(lambda x: round(x.shift(1).rolling(20, 1).sum())))

In [ ]:
# get rolling wins (sum) (commented out to try using mean)

rolling_wins = (game_df.groupby('team_year')['result_win']
                      .transform(lambda x: round(x.shift(1).rolling(3).sum(), 3)))

game_df.insert(loc=53, column='roll3_num_wins', value=rolling_wins)

rolling_ties = (game_df.groupby('team_year')['result_win']
                      .transform(lambda x: round(x.shift(1).rolling(3).sum(), 3)))

game_df.insert(loc=53, column='roll3_num_ties', value=rolling_ties)

Now let's add more columns with **Expontentially Weighted Moving Averages (EWMA)** of our stats. This is similar to taking a rolling mean of a team's previous 6 performances, but EWMA weights the most recent game in the window much higher than the week before that, and so on.

For this, we will use a 3-16 week span (greedy). My hypothesis is that the most recent performances are the best predictors, and this should help further quantify recent performance.

In [ ]:
# add ewma cols

ewma3_cols = ['ewma3_' + col_name for col_name in roll_cols]

game_df[ewma3_cols] = (game_df.groupby('team_year')[roll_cols]
                      .transform(lambda x: round(x.shift(1).ewm(span=3, min_periods=1).mean(), 3)))

ewma19_cols = ['ewma19_' + col_name for col_name in roll_cols]

game_df[ewma19_cols] = (game_df.groupby('team_year')[roll_cols]
                      .transform(lambda x: round(x.shift(1).ewm(span=19, min_periods=3).mean(), 3)))

In [ ]:
np.mean([197, 120, 208])

Now, let's delete the first three rows of each team-year. We have to do this because we will be using at least some rolling columns for our model.

In [ ]:
game_df.dropna(axis=0, how="any", subset=["ewma19_pass_yds"], inplace=True)

Looks good!!

**Now, we have to solve a pretty complex problem.**

Currently, each row has all the stats needed for the team in the 'team' column. However, we don't have the same information for the opponent in the same row. Let's make that happen.

To further clarify, for each row, we need to pull the opposing team's rolling stats, adding them back into the same row. This way, our model will only need one row to make a prediction.

Let's take a look at an example.

In [ ]:
mask = (game_df.game_id == 'chi-rai-2019-10-06')
game_df[mask]

So, in the above table, we need to get all of the roll3_x and ewma_x columns from the adjacent tables, respectively. We'll prefix these with opp_.

In [ ]:
[col for col in game_df.columns]

In [ ]:
ERROR ME OUT

In [ ]:
# gather one list of columns to get from the other game record.

opp_pull_cols = [col for col in roll_cols]

prefixes = ['prev_', 'sn_to', 'roll3', 'ewma3', 'ewma1']

[opp_pull_cols.append(col) for col in game_df.columns if col[:5] in prefixes]
opp_pull_cols.insert(0, "opp")
opp_pull_cols.insert(0, "team")
opp_pull_cols.insert(0, "game_id")
opp_pull_cols = list(set(opp_pull_cols))
opp_pull_cols

In [ ]:
game_df.opp

In [ ]:
# # convert all cols to float

# game_df[opp_pull_cols] = game_df[opp_pull_cols].fillna(0)
# for col in opp_pull_cols[3:]:
#     game_df[col] = game_df[col].astype(float)

**Let's solve this using `pd.merge`, using a self-join.**

In [ ]:
game_df = (game_df
             .merge(right=game_df[opp_pull_cols],
                    left_on=['game_id', 'team'],
                    right_on=['game_id', 'opp'],
                    suffixes=[None, '_opp']))

Let's make sure it worked by checking a couple of random game_ids.

In [ ]:
mask = (game_df.game_id == 'dal-nyg-2019-11-04')

game_df[mask][['game_id', 'team', 'opp', 'season_year', 'result_win', 'result_win_opp', 
               'pts_off', 'sn_total_pts_off', 'ewma19_pts_off', 'pts_off_opp',
               'sn_total_pts_off_opp', 'ewma19_pts_off_opp']]

In [ ]:
mask = (game_df.game_id == 'chi-rai-2019-10-06')

game_df[mask][['game_id', 'team', 'opp', 'season_year', 'result_win', 'result_win_opp', 
               'pts_off', 'sn_total_pts_off', 'ewma19_pts_off', 'pts_off_opp',
               'sn_total_pts_off_opp', 'ewma19_pts_off_opp']]

## Now let's take another look to make sure everything looks good.

If it does, we're ready to start modeling!

In [ ]:
mask = game_df['team_year'] == 'chi-2019'
game_df[mask]

Looks great. Now it's time to start modeling our data! Head over to `model_exploration.ipynb` to continue following along.