In [18]:
import numpy as np
import pandas as pd
import pickle

In [19]:
pd.set_option("display.max_columns", 101)
pd.set_option("display.max_rows", 300)

In [20]:
game_df = pd.read_pickle('data/games.pickle')

In [21]:
game_df.shape

(1335, 38)

In [22]:
game_df.columns

Index(['season_year', 'week_num', 'full_game_date', 'team', 'opp',
       'game_day_of_week', 'game_date', 'game_outcome', 'pts_off', 'pts_def',
       'pass_cmp', 'pass_att', 'pass_yds', 'pass_td', 'pass_int',
       'pass_sacked', 'pass_sacked_yds', 'pass_yds_per_att',
       'pass_net_yds_per_att', 'pass_cmp_perc', 'pass_rating', 'rush_att',
       'rush_yds', 'rush_yds_per_att', 'rush_td', 'fgm', 'fga', 'xpm', 'xpa',
       'punt', 'punt_yds', 'time_of_poss', 'game_location',
       'third_down_success', 'third_down_att', 'fourth_down_success',
       'fourth_down_att', 'overtime'],
      dtype='object')

In [23]:
game_df.drop(
        columns=[
            "pass_net_yds_per_att",
            "xpm",
            "xpa",
            "punt",
            "punt_yds",
            "game_day_of_week",
            "game_day_of_week_def",
            "game_date_def",
            "game_date",
            "game_outcome_def",
            "pts_off_def",
            "pts_def_def",
            "pass_net_yds_per_att_def",
            "xpm_def",
            "xpa_def",
            "punt_def",
            "punt_yds_def",
            "time_of_poss_def",
        ],
        axis=1,
        inplace=True,
    )

KeyError: "['game_day_of_week_def' 'game_date_def' 'game_outcome_def' 'pts_off_def'\n 'pts_def_def' 'pass_net_yds_per_att_def' 'xpm_def' 'xpa_def' 'punt_def'\n 'punt_yds_def' 'time_of_poss_def'] not found in axis"

In [16]:
game_df.columns

Index(['season_year', 'week_num', 'full_game_date', 'team', 'opp',
       'game_outcome', 'pts_off', 'pts_def', 'pass_cmp', 'pass_att',
       'pass_yds', 'pass_td', 'pass_int', 'pass_sacked', 'pass_sacked_yds',
       'pass_yds_per_att', 'pass_cmp_perc', 'pass_rating', 'rush_att',
       'rush_yds', 'rush_yds_per_att', 'rush_td', 'fgm', 'fga', 'overtime',
       'game_location', 'pass_cmp_def', 'pass_att_def', 'pass_yds_def',
       'pass_td_def', 'pass_int_def', 'pass_sacked_def', 'pass_sacked_yds_def',
       'pass_yds_per_att_def', 'pass_cmp_perc_def', 'pass_rating_def',
       'rush_att_def', 'rush_yds_def', 'rush_yds_per_att_def', 'rush_td_def',
       'fgm_def', 'fga_def', 'overtime_def', 'game_location_def',
       'time_of_poss', 'third_down_success', 'third_down_att',
       'fourth_down_success', 'fourth_down_att', 'third_down_success_def',
       'third_down_att_def', 'fourth_down_success_def', 'fourth_down_att_def'],
      dtype='object')

In [17]:
game_df.sample(10)

,season_year,week_num,full_game_date,team,opp,game_outcome,pts_off,pts_def,pass_cmp,pass_att,pass_yds,pass_td,pass_int,pass_sacked,pass_sacked_yds,pass_yds_per_att,pass_cmp_perc,pass_rating,rush_att,rush_yds,rush_yds_per_att,rush_td,fgm,fga,overtime,game_location,pass_cmp_def,pass_att_def,pass_yds_def,pass_td_def,pass_int_def,pass_sacked_def,pass_sacked_yds_def,pass_yds_per_att_def,pass_cmp_perc_def,pass_rating_def,rush_att_def,rush_yds_def,rush_yds_per_att_def,rush_td_def,fgm_def,fga_def,overtime_def,game_location_def,time_of_poss,third_down_success,third_down_att,fourth_down_success,fourth_down_att,third_down_success_def,third_down_att_def,fourth_down_success_def,fourth_down_att_def
39061,2019,7.0,2019-10-20,chi,nor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,38.0,273.0,2.0,0.0,1.0,8.0,7.0,60.0,100.0,35.0,151.0,4.0,2.0,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,15.0,0.0,0.0
4281,1984,7.0,1984-10-14,was,dal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,44.0,269.0,0.0,3.0,3.0,25.0,6.0,59.0,48.0,24.0,90.0,3.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1335,1981,6.0,1981-10-12,mia,buf,L,21.0,31.0,26.0,44.0,225.0,1.0,4.0,2.0,20.0,5.0,59.0,42.0,18.0,99.0,5.0,1.0,0.0,0.0,NaN,@,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36935,2017,13.0,2017-12-03,chi,sfo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,37.0,278.0,0.0,1.0,2.0,15.0,7.0,70.0,80.0,34.0,110.0,3.0,0.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,18.0,0.0,0.0
4410,1985,4.0,1985-09-29,chi,was,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,39.0,184.0,0.0,2.0,4.0,25.0,5.0,53.0,45.0,35.0,192.0,5.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40539,2020,11.0,2020-11-22,min,dal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,32.0,196.0,3.0,1.0,1.0,7.0,6.0,68.0,103.0,31.0,180.0,5.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,11.0,2.0,3.0
21217,2002,8.0,2002-10-27,kan,rai,W,20.0,10.0,18.0,30.0,190.0,1.0,2.0,3.0,18.0,6.0,60.0,61.0,30.0,133.0,4.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31:33,6.0,12.0,0.0,0.0,NaN,NaN,NaN,NaN
22988,2004,1.0,2004-09-13,car,gnb,L,14.0,24.0,23.0,40.0,262.0,2.0,1.0,2.0,22.0,7.0,57.0,83.0,13.0,38.0,2.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21:56,3.0,10.0,0.0,0.0,NaN,NaN,NaN,NaN
40241,2020,11.0,2020-11-22,dal,min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,30.0,305.0,3.0,0.0,2.0,9.0,10.0,73.0,138.0,29.0,125.0,4.0,1.0,0.0,0.0,NaN,@,NaN,NaN,NaN,NaN,NaN,6.0,10.0,0.0,1.0
31442,2012,12.0,2012-11-25,atl,tam,W,24.0,23.0,26.0,32.0,345.0,1.0,1.0,1.0,8.0,11.0,81.0,109.0,24.0,79.0,3.0,2.0,1.0,3.0,NaN,@,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:22,8.0,13.0,0.0,0.0,NaN,NaN,NaN,NaN

In [ ]:
mask = (game_df.team == 'chi') & (game_df.season_year == 2019)
game_df[mask]

In [ ]:
# clean the game_location column & apply change. def home_game(row):
def home_game(row):    
    if row == '@':
        return 0
    return 1

game_df['team_home_game'] = game_df.game_location.apply(home_game)
game_df.drop("game_location", axis=1, errors='ignore', inplace=True)

In [ ]:
# add team_year identifier to each row (to easily groupby team/year)

team_years = game_df['team'] + '-' +  game_df['season_year'].astype(str) 
game_df.insert(loc=2, column='team_year', value=team_years)
game_df.sample()

Datetime formatting strings:

- ``%B`` month fullname
- ``%-d`` day of month without leading zero\*
    - \*note: the ``-`` only works on Linux/OS-X...for windows replace with '#'
- ``%Y`` full year

In [ ]:
# convert game date to datetime & add new column to DF


# f = r"%B %d-%Y"
# full_game_date = game_df.game_date + '-' + game_df.year.astype(str)
# full_game_date = pd.to_datetime(full_game_date, format=f)
# game_df.insert(loc=2, column='date', value=full_game_date)
# game_df.sample(3)

In [ ]:
# now drop the game_date col
game_df.drop("game_date", axis=1, inplace=True, errors='ignore')
game_df.sample(2) # to confirm

In [ ]:
# add decade column
decades = game_df['season_year'] // 10
game_df.insert(loc=5, column='decade', value=decades)
game_df[['full_game_date', 'decade']].sample(10)

In [ ]:
# add unique game identifier that will be the same for both teams in the same game


def apply_game_id(row):
    teams = []
    teams.append(str(row['team']))
    teams.append(str(row['opp']))
    teams.sort()
    
    game_id = teams[0] + '-' +  teams[1] + '-' + str(row['full_game_date'])[:-9]
    return game_id

In [ ]:
game_ids = game_df.apply(apply_game_id, axis=1)
game_df.insert(loc=0, column='game_id', value=game_ids)

In [ ]:
game_df

In [ ]:
game_df.info()

Alright, we need to fix a few things:

- remove rows missing 'opp' value
- convert the following cols to float:
    - pass_yds_per_att
    - pass_net_yds_per_att
    - rush_yds
    - rush_yds_per_att
    - convert overtime to boolean
    - convert time_of_poss to num

In [ ]:
# remove missing 'opp' rows
game_df['opp'] = game_df.opp.astype(str)
game_df['opp'].replace({'nan': np.NaN}, inplace=True)
game_df.dropna(subset=['opp', 'game_outcome'], how='any', inplace=True)

In [ ]:
game_df.info()

In [ ]:
game_df['pass_yds_per_att'].replace({str('-0'):0.0}, inplace=True)
game_df['pass_net_yds_per_att'].replace({str('-0'):0.0}, inplace=True)
game_df['pass_yds_per_att']

In [ ]:
game_df[['pass_yds', 'pass_yds_per_att', 'pass_net_yds_per_att', 'rush_yds', 'rush_yds_per_att']] = \
game_df[['pass_yds', 'pass_yds_per_att', 'pass_net_yds_per_att', 'rush_yds', 'rush_yds_per_att']].astype(float)

In [ ]:
game_df.dropna(subset=['third_down_success', 'third_down_att', 'fourth_down_success', 'fourth_down_att'], how='any', inplace=True)

game_df.info()

In [ ]:
# now convert overtime col to binary
game_df['overtime'].fillna(0)

In [ ]:
game_df.overtime.value_counts()

In [ ]:
# convert game_outcome col to binary to avoid multicolinearity

game_df[['result_tie', 'result_win']] = pd.get_dummies(game_df.game_outcome, drop_first=True)
game_df.sample(10)

Okay, almost there. Our ties are coming through, but we get NaNs for teams that haven't tied, so we'll need to replace those with zeros.

In [ ]:
# add 'margin' col
margins = game_df.pts_off - game_df.pts_def
game_df.insert(loc=11, column='margin', value=margins)
game_df[mask].head()

In [ ]:
# drop rows for bye weeks
game_df.dropna(axis=0, how='any', subset=['game_outcome'], inplace=True)

In [ ]:
mask = game_df['team_year'] == 'kan-2019'
game_df[mask]

In [ ]:
# add 'prev_week' cols

cols_to_shift = ['week_num', 'result_win', 'result_tie', 'margin']

for col in cols_to_shift:
    new_col = 'prev_' + col
    game_df[new_col] = game_df.groupby('team_year')[col].apply(lambda grp: grp.shift(1))

In [ ]:
# add 'off_bye' (boolean) col
    
def apply_off_bye(row):
    if row['week_num'] > 1: # playoff games have week_num = 0
        off_bye = row['week_num'] - row['prev_week_num'] == 2
    else:
        off_bye = False
    if off_bye == True:
        return 1
    return 0


game_df['off_bye'] = game_df[['week_num', 'prev_week_num']].apply(apply_off_bye, axis=1)

In [ ]:
mask = game_df.team_year == 'chi-2019'
game_df[mask]

In [ ]:
game_df.columns

In [ ]:
game_df.sort_values(['season_year', 'team', 'week_num'], inplace=True)

mask = (game_df['week_num'] == 1) & (game_df['team'] == 'chi')
game_df[mask]

In [ ]:
# create columns containing team's season totals heading into the game
roll_cols = ['pts_off', 'margin', 'pts_def', 'pass_cmp', 'pass_att', 'pass_yds', 'pass_td',
             'pass_int', 'pass_sacked', 'pass_sacked_yds', 'pass_yds_per_att', 'pass_net_yds_per_att',
             'pass_cmp_perc', 'pass_rating', 'rush_att', 'rush_yds', 'rush_yds_per_att', 'rush_td',
             'fgm', 'fga', 'xpm', 'xpa', 'punt', 'punt_yds', 'third_down_success', 'third_down_att',
             'fourth_down_success', 'fourth_down_att', 'team_home_game', 'result_tie', 'result_win']

In [ ]:
game_df[roll_cols].info()

In [ ]:
season_totals = ['sn_total_' + col_name for col_name in roll_cols]

game_df[season_totals] = (game_df.groupby('team_year')[roll_cols]
                      .transform(lambda x: round(x.shift(1).rolling(20, 1).sum())))

In [ ]:
# get rolling wins (sum) (commented out to try using mean)

rolling_wins = (game_df.groupby('team_year')['result_win']
                      .transform(lambda x: round(x.shift(1).rolling(3).sum(), 3)))

game_df.insert(loc=53, column='roll3_num_wins', value=rolling_wins)

rolling_ties = (game_df.groupby('team_year')['result_win']
                      .transform(lambda x: round(x.shift(1).rolling(3).sum(), 3)))

game_df.insert(loc=53, column='roll3_num_ties', value=rolling_ties)

Now let's add more columns with **Expontentially Weighted Moving Averages (EWMA)** of our stats. This is similar to taking a rolling mean of a team's previous 6 performances, but EWMA weights the most recent game in the window much higher than the week before that, and so on.

For this, we will use a 3-16 week span (greedy). My hypothesis is that the most recent performances are the best predictors, and this should help further quantify recent performance.

In [ ]:
# add ewma cols

ewma3_cols = ['ewma3_' + col_name for col_name in roll_cols]

game_df[ewma3_cols] = (game_df.groupby('team_year')[roll_cols]
                      .transform(lambda x: round(x.shift(1).ewm(span=3, min_periods=1).mean(), 3)))

ewma19_cols = ['ewma19_' + col_name for col_name in roll_cols]

game_df[ewma19_cols] = (game_df.groupby('team_year')[roll_cols]
                      .transform(lambda x: round(x.shift(1).ewm(span=19, min_periods=3).mean(), 3)))

In [ ]:
np.mean([197, 120, 208])

Now, let's delete the first three rows of each team-year. We have to do this because we will be using at least some rolling columns for our model.

In [ ]:
game_df.dropna(axis=0, how="any", subset=["ewma19_pass_yds"], inplace=True)

Looks good!!

**Now, we have to solve a pretty complex problem.**

Currently, each row has all the stats needed for the team in the 'team' column. However, we don't have the same information for the opponent in the same row. Let's make that happen.

To further clarify, for each row, we need to pull the opposing team's rolling stats, adding them back into the same row. This way, our model will only need one row to make a prediction.

Let's take a look at an example.

In [ ]:
mask = (game_df.game_id == 'chi-rai-2019-10-06')
game_df[mask]

So, in the above table, we need to get all of the roll3_x and ewma_x columns from the adjacent tables, respectively. We'll prefix these with opp_.

In [ ]:
[col for col in game_df.columns]

In [ ]:
ERROR ME OUT

In [ ]:
# gather one list of columns to get from the other game record.

opp_pull_cols = [col for col in roll_cols]

prefixes = ['prev_', 'sn_to', 'roll3', 'ewma3', 'ewma1']

[opp_pull_cols.append(col) for col in game_df.columns if col[:5] in prefixes]
opp_pull_cols.insert(0, "opp")
opp_pull_cols.insert(0, "team")
opp_pull_cols.insert(0, "game_id")
opp_pull_cols = list(set(opp_pull_cols))
opp_pull_cols

In [ ]:
game_df.opp

In [ ]:
# # convert all cols to float

# game_df[opp_pull_cols] = game_df[opp_pull_cols].fillna(0)
# for col in opp_pull_cols[3:]:
#     game_df[col] = game_df[col].astype(float)

**Let's solve this using `pd.merge`, using a self-join.**

In [ ]:
game_df = (game_df
             .merge(right=game_df[opp_pull_cols],
                    left_on=['game_id', 'team'],
                    right_on=['game_id', 'opp'],
                    suffixes=[None, '_opp']))

Let's make sure it worked by checking a couple of random game_ids.

In [ ]:
mask = (game_df.game_id == 'dal-nyg-2019-11-04')

game_df[mask][['game_id', 'team', 'opp', 'season_year', 'result_win', 'result_win_opp', 
               'pts_off', 'sn_total_pts_off', 'ewma19_pts_off', 'pts_off_opp',
               'sn_total_pts_off_opp', 'ewma19_pts_off_opp']]

In [ ]:
mask = (game_df.game_id == 'chi-rai-2019-10-06')

game_df[mask][['game_id', 'team', 'opp', 'season_year', 'result_win', 'result_win_opp', 
               'pts_off', 'sn_total_pts_off', 'ewma19_pts_off', 'pts_off_opp',
               'sn_total_pts_off_opp', 'ewma19_pts_off_opp']]

## Now let's take another look to make sure everything looks good.

If it does, we're ready to start modeling!

In [ ]:
mask = game_df['team_year'] == 'chi-2019'
game_df[mask]

Looks great. Now it's time to start modeling our data! Head over to `model_exploration.ipynb` to continue following along.